{% load i18n %}
<table class="calendar" cellpadding="0" cellspacing="0" width="100%">
    <caption class="text-center" style="background: #007d7e;">
        <div class="d-flex justify-content-evenly fs-4">
            <div 
                class="js-cal-button w-100 btn fs-1" 
                data-room="{{calendar.room.pk}}" 
                data-month="{{calendar.previous_month}}"
                data-year="{{calendar.previous_year}}"
            >
                <span class="">‹</span>
            </div>
            <div class="">
                <p class="p-3">{{ calendar.first_day_month|date:"F Y"}}</p>
            </div> 
            <div 
                class="js-cal-button btn w-100 fs-1 text-light" 
                data-room="{{calendar.room.pk}}" 
                data-month="{{calendar.next_month}}"
                data-year="{{calendar.next_year}}"
            >
                <span class="text-light">›</span>
            </div>
        </div>
    </caption>
    <thead>
        <tr class="text-center weekdays-row">
            <th>{% trans "Mo" %}</th>
            <th>{% trans "Tu" %}</th>
            <th>{% trans "We" %}</th>
            <th>{% trans "Th" %}</th>
            <th>{% trans "Fr" %}</th>
            <th>{% trans "Sa" %}</th>
            <th>{% trans "Su" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for week in calendar.month_days %}
        <tr class="data-row">
        {% for day in week %}

            {% if day.date|date:"m"|add:"0" == calendar.month|add:"0" %}
            <td class="cell">
                <div class="cell__inner">
                    {% if day.available %}
                    <div
                        class="cell__available-data js-day" 
                        data-url="{% url 'booking:ajax_day_availability' %}" 
                        data-year="{{day.date|date:"Y"}}" 
                        data-month="{{day.date|date:"m"}}" 
                        data-day="{{day.date|date:"d"}}" 
                        data-room="0" >
                        <p class="cell__day-number">
                            {{day.date|date:"j"}}
                        </p>
                    </div>
                    {% endif %}
                </div>
            {% else %}
            <td class="cell cell--not-in-month">
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>