<table>
<tr class="available-slots-response">
    <td colspan="7">
        <div class="available-slots__data">
            <h2 class="available-slots__data__title">{{slots.0.start|date}}</h2>
            {% for slot in slots %}
            <div class="admin-slot">
                {% if slot.is_not_reserved %}
                    {% if slot.is_disabled %}
                    <div 
                        data-slot="{{slot.pk}}"
                        data-bookingurl="{% url 'booking:ajax_slot_booking' %}"
                        class="available-slots__data__slot__disabled"
                    >
                    {{ slot.room }} - {{ slot.start|date:"H:i" }}-{{ slot.session_end|date:"H:i" }}
                    </div> 
                    <button 
                        data-slot="{{slot.pk}}"
                        data-bookingurl="{% url 'booking:ajax_slot_enable' %}"
                        class="book-slot-admin admin-slot__extra-button"
                    >
                    Enable 
                    </button> 

                    {% else %}
                    <button 
                        data-slot="{{slot.pk}}"
                        data-bookingurl="{% url 'booking:ajax_slot_booking' %}"
                        class="available-slots__data__slot"
                    >
                    {{ slot.room }} - {{ slot.start|date:"H:i" }}-{{ slot.session_end|date:"H:i" }}
                    </button> 
                    <button 
                        data-slot="{{slot.pk}}"
                        data-bookingurl="{% url 'booking:ajax_slot_disable' %}"
                        class="book-slot-admin admin-slot__extra-button"
                    >
                    Disable
                    </button> 
                    {% endif %}
                {% else %}
                <div class="available-slots__data__slot__unavailable">
                    {{ slot.room }} - {{ slot.start|date:"H:i" }}-{{ slot.session_end|date:"H:i" }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </td>
</tr>
</table>