{% extends 'booking/admin/ajax-change.html' %}
{% block current_item %}{{current_slot}}{% endblock current_item %}
{% block items_list %}
<ul>
    {% for item in items %}
    {% if item.is_available %}
    <li>
        <form action="{% url 'admin:change_slot' %}" method="post">
        {% csrf_token %}
        <input name="cart_item" value="{{cart_item}}" type="hidden">
        <input name="new_slot" value="{{item.pk}}" type="hidden">
        <input name="frompage" value="{{frompage}}" type="hidden">
        <button
        class = "button secondary-button button-small"
        type="sumbit"
        name="{{from_page}}"
        >
            {{ item }}
        </button>
        </form>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock items_list %}