{% extends 'custom_admin_base.html' %}
{% load wagtailadmin_tags %}
{% load static %}

{% block extra_js%}
{{ block.super }}
<script src =" {% static 'js/change_slot_list.js' %}"  ></script>
{% endblock extra_js %}

{% block extra_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/home.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/page-editor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock extra_css %}
{% block page_title %}Orders{% endblock page_title %}
{% block titletag %}Orders{% endblock %}
{% block body %}
{{ block.super }}

{% comment %} <div class="admin-content"> {% endcomment %}

    <div class="filters nice-padding">
        <form action="{% url 'orders_list' %}" method="POST">
            {% csrf_token %}
            <ul>
                {{form.as_ul}} 
            </ul>
            <br>
            <button class="button button-secondary button-small" type="submit">Filter</button>
        </form>
        <form action="{% url 'orders_list' %}">
            {% csrf_token %}
            <button class="button button-secondary button-small" type="submit">Reset</button>
        </form>
        <div class="pt-3">
          <p>
            Orders: {{ order_count }} |
            Total: €{{ order_total_price|floatformat:2 }} |
            Average: €{{ order_average|floatformat:2 }}
          </p>
        </div>
    </div>

    <br>
    <table class="listing">
    <thead>
        <tr>
            <th>Order</th> 
            <th>Name</th> 
            <th>Email</th> 
            <th>Phone</th> 
            <th>Payment</th> 
            <th>Placed</th> 
            <th>Tot</th> 
            <th>Disc</th> 
            <th>Products</th> 
            <th>Appointments</th> 
            <th>Coupons Used</th> 
        </tr>
    </thead>
    {% for order in orders %}
    <tbody>
    <tr>
        <td class="p-2">
          <span>
            <form action="{% url 'admin:resend_email' %}" method="POST">
                {% csrf_token %}
                <input name="cart_id" value="{{ order.pk }}" type="hidden">
                <input name="frompage" value="orders_list" type="hidden">
                <button class="button button-small button-primary"  onclick="return confirm('Resend email?')" >Resend</button> 
            </form> 
          </span>
          <span>
            <form action="{% url 'admin:delete_order' %}" method="POST">
                {% csrf_token %}
                <input name="cart_id" value="{{ order.pk }}" type="hidden">
                <input name="frompage" value="orders_list" type="hidden">
                <button class="button button-small button-secondary no"  onclick="return confirm('Delete order? All details will be lost')" >Delete</button> 
            </form> 
          </span>
        </td>
        <td class="p-2">
          <span>
            {{ order.invoice.order_number }}
          </span>
          <span>
            id:{{ order.invoice.cart }}
          </span>
        </td>
        <td class="p-2">{{order.invoice.full_name}}</td>
        <td class="p-2">{{order.invoice.email}}</td>
        <td class="p-2">{{order.invoice.phone}}</td>
        <td class="p-2">{{order.invoice.payment}}</td>
        <td class="p-2">{{order.invoice.order_date}}</td>
        <td class="p-2">{{order.total}}</td>
        <td class="p-2">{{order.total}}</td>
        <td class="p-2">
          <ul class="">
              {% for item in order.cart_items.all %}
              <li>
                  <button
                      class="js-button-change-product button button-secondary button-small"
                      data-order={{order.invoice.order_number}}
                      data-customer={{order.invoice.full_name}}
                      data-current="{{ item.product.pk }}"
                      data-cartitem="{{item.pk}}"
                      data-posturl="{% url 'admin:change_product_list' %}"
                      data-frompage="orders_list"
                  >
                  {{item.product.family}}-{{item.product.players}}
                  </button>
              </li>
              {% endfor %}
          </ul>
        </td>
        <td class="p-2">
            {% if order.get_appointment_items %}
                <ul>
                {% for item in order.get_appointment_items %}
                    <li>
                        <button
                            class="js-button-change-slot button button-secondary button-small"
                            data-order={{order.invoice.order_number}}
                            data-customer={{order.invoice.full_name}}
                            data-current="{{ item.slot.pk }}"
                            data-cartitem="{{item.pk}}"
                            data-posturl="{% url 'admin:change_slot_list' %}"
                            data-frompage="orders_list"
                        >
                            {{item.slot}}
                        </button>
                {% endfor %}
                </ul>
            </div>
            {% else %}
            ---
            {% endif %}
        </td>
        <td class="p-2 position-relative">
            {% if order.cart_coupons.all %}
                <ul class="">
                {% for item in order.cart_coupons.all %}
                    <li>
                    {{item.coupon.code}}|{{item.discount}}|{{ item.coupon.name|slice:16 }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
            ---
            {% endif %}
        </td>

    </tr>
    {% endfor %}
{% endblock body %}