{% extends 'custom_admin_base.html' %}
{% load wagtailadmin_tags i18n %}

{% load static %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/home.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/page-editor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

{% endblock %}
{% block page_title %}Payments{% endblock page_title %}
{% block titletag %}Payments{% endblock %}

{% block content %}
{{ block.super }}
    <div class="nice-padding">
        <h2>Due List</h2>
    </div>
    <table class="listing">
    {% for inv in due_list %}
    <tr>
        <td>{{inv.invoice.order_number}}</td>
        <td>{{inv.invoice.full_name}}</td>
        <td>{{inv.invoice.email}}</td>
        <td>{{inv.invoice.phone}}</td>
        <td>{{inv.invoice.payment}}</td>
        <td>{{inv.invoice.amount_due}} <br>{{inv.invoice.amount_to_pay}}</td>
        {% comment %} <td>
            <a href="{% url 'admin:booking_invoice_change' invoice.pk %}">
            <button>
                Manual Change
            </button>
            </a>
        </td> {% endcomment %}
        <form action="{% url 'admin:record_payment' %}" method="POST">
        {% csrf_token %}
        <td>{{inv.form.invoice.as_hidden}}</td>
        <td>{{inv.form.amount}}</td>
        <td><button class="button button-secondary button-small"type=sumbit>save</button></td>
        </form>
        <td>
            <ul>
            {% for item in inv.invoice.cart.get_appointment_items %}
            -{{item.slot}}
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </table>
    <div class="nice-padding">
        <h2>To be paid list</h2>
    </div>
    <table class="listing">
    {% for inv in inv_list %}
    <tr>
        <td>{{inv.invoice.order_number}}</td>
        <td>{{inv.invoice.full_name}}</td>
        <td>{{inv.invoice.email}}</td>
        <td>{{inv.invoice.phone}}</td>
        <td>{{inv.invoice.cart.total}}</td>
        {% comment %} <td>
            <a href="{% url 'admin:booking_invoice_change' invoice.pk %}">
            <button>
                Manual Change
            </button>
            </a>
        </td> {% endcomment %}
        <form action="{% url 'admin:record_payment' %}" method="POST">
        {% csrf_token %}
        <td>{{inv.form.invoice.as_hidden}}</td>
        <td>{{inv.form.amount}}</td>
        <td><button class="button button-secondary button-small" type=sumbit>save</button></td>
        </form>
        <td>
                <ul>
                {% for item in inv.invoice.cart.get_appointment_items %}
                -{{item.slot}}
                {% endfor %}
                </ul>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock content %}