{% extends 'wagtailadmin/base.html' %}
{% load wagtailadmin_tags %}
{% load static %}

{% block extra_js%}
{{ block.super }}
<script src =" {% static 'js/change_slot_list.js' %}"  ></script>
{% endblock extra_js %}

{% block extra_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/home.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/page-editor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock extra_css %}

{% block titletag %}Orders{% endblock %}
{% block content %}
<header class="merged nice-padding">
    <div class="row">
        <div class="col1">
        <div class="col9">
            <h1>{% block branding_welcome %}Orders{% endblock %}</h1>
        </div>
    </div>
</header>

{% comment %} <div class="admin-content"> {% endcomment %}

    <div class="filters nice-padding">
        <form action="{% url 'orders_list' %}" method="POST">
            {% csrf_token %}
            <ul>
                {{form.as_ul}} 
            </ul>
            <br>
            <button class="button button-secondary button-small" type="submit">Filter</button>
        </form>
        <form action="{% url 'orders_list' %}">
            {% csrf_token %}
            <button class="button button-secondary button-small" type="submit">Reset</button>
        </form>
    </div>

    <br>
    <table class="listing">
    <thead>
        <tr>
            <td>Order</td> 
        </tr>
    </thead>
    {% for order in orders %}
    <tbody>
    <tr>
        <td>{{order.invoice.order_number}}</td>
        <td>{{order.invoice.full_name}}</td>
        <td>{{order.invoice.email}}</td>
        <td>{{order.invoice.phone}}</td>
        <td>{{order.invoice.payment}}</td>
        <td>{{order.invoice.order_date}}</td>
        <td>{{order.total}}</td>
        <td>{{order.total_after_coupons}}</td>
        <td>
            {% comment %} <div class="hover-info"> {% endcomment %}
                {% comment %} products {% endcomment %}
                <ul class="">
                    {% for item in order.get_valid_items %}
                    <li>
                        <button
                            class="js-button-change-product button button-secondary button-small"
                            data-order={{order.invoice.order_number}}
                            data-customer={{order.invoice.full_name}}
                            data-current="{{ item.product.pk }}"
                            data-cartitem="{{item.pk}}"
                            data-posturl="{% url 'admin:change_product_list' %}"
                            data-frompage="orders_list"
                        >
                        {{item.product.family}}-{{item.product.players}}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            {% comment %} </div> {% endcomment %}
        </td>
        <td>
            {% if order.get_appointment_items %}
                <ul>
                {% for item in order.get_appointment_items %}
                    <li>
                        <button
                            class="js-button-change-slot button button-secondary button-small"
                            data-order={{order.invoice.order_number}}
                            data-customer={{order.invoice.full_name}}
                            data-current="{{ item.slot.pk }}"
                            data-cartitem="{{item.pk}}"
                            data-posturl="{% url 'admin:change_slot_list' %}"
                            data-frompage="orders_list"
                        >
                            {{item.slot}}
                        </button>
                    {% comment %} </li> {% endcomment %}
                {% endfor %}
                </ul>
            </div>
            {% else %}
            ---
            {% endif %}
        </td>
        <td>
            {% if order.cart_coupons.all %}
                <ul class="hover-info__list">
                {% for item in order.cart_coupons.all %}
                    <li>
                    {{item.coupon.code}} | {{item.discount}}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
            ---
            {% endif %}
        </td>

    </tr>
    {% endfor %}
    </tbody>
    </table>
{% comment %} </div> {% endcomment %}
{% endblock content %}