{% extends 'custom_admin_base.html' %}
{% load wagtailadmin_tags i18n %}
{% load static %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/home.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/page-editor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

{% endblock %}
{% block page_title %}Appointments{% endblock page_title %}

{% block content %}
{{ block.super }}

<div class="admin-content">
    <div id="content-main">
    <div class="filters">
        <form action="{% url 'appointments_list' %}" method="POST">
            {% csrf_token %}
            <ul>
                {{form.as_ul}} 
            </ul>
            <br>
            <button class="button button-secondary button-small" type="submit">Filter</button>
        </form>
        <form action="{% url 'appointments_list' %}">
            {% csrf_token %}
            <button class="button button-secondary button-small" type="submit">Reset</button>
        </form>
    </div>
    <br>
    <table class="admin-table listing">
    <thead>
    <tr>
    <th>Edit</th> 
    <th>Date <br> Time</th>
    <th> Room <br> Players </th>
    <th> Order <br> Name</th>
    <th>Email<br>Phone</th>
    {% comment %} <th>Discounts</th>
    <th>Appointments</th>
    <th>Couponse</th> {% endcomment %}
    </tr>
    </thead>
    {% for appointment in appointments%}
    <tr>
        <td>
            <button
                class="js-button-change-slot button button-secondary button-small"
                data-order={{appointment.cart.invoice.order_number}}
                data-customer={{appointment.cart.invoice.full_name}}
                data-current="{{ appointment.slot.pk }}"
                data-cartitem="{{appointment.pk}}"
                data-posturl="{% url 'admin:change_slot_list' %}"
                data-frompage="appointments"
            >
                Change
            </button> 
            <div></div>
            <button class="button button-secondary button-small">
                Advanced 
            </button>
        </td>
        <td>{{appointment.slot.start|date:"Y M d"}} <br> {{appointment.slot.start|date:"H:i"}}</td>
        <td>{{appointment.product.family.room}} <br> {{appointment.product.players}} players</td>
        <td>Nr.:{{appointment.cart.invoice.order_number}} <br> {{appointment.cart.invoice.full_name}} </td>
        <td>{{appointment.cart.invoice.email}} <br>{{appointment.cart.invoice.phone}} </td>
    </tr>
    {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src =" {% static 'js/change_slot_list.js' %}"  ></script>
{% endblock %}
{% comment %} {% block content %} {% endcomment %}


{% comment %} {% endblock content %} {% endcomment %}