.block-reviews {
  width: 100%;
  .block-reviews__inner {
    position: relative;
    max-width: 400px; 
    height:250px;
    margin: 0 auto;
    .review {
      text-align: center;
      position: absolute;
      visibility: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      width: 100%;
      transition: all 1s;
      .review__icon {
        svg {
          max-width: 80px;
          width: 20%;
        }
      }
      .review__stars {
        svg {
          width: 16px;
        }
      }
      .review__name {
        font-size: $font--md;
        font-weight: bold;
      }
      .review__text {
        position: relative;
        &::before,
        &::after {
          position: absolute;
          content: "'"; 
          font-size: $font--ll;
        }
        &::before {
          content: "\201c";
          top: 0;
          left: 0;
          transform: translate(-100%);
        }
        &::after {
          content: "\201d";
          bottom: 0;
          right: 0;
          transform: translate(100%);
        }
      }
    }
    .review-show {
      visibility: initial;
      opacity: 1;
    }
  }

}


.block-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  label {
    max-width: 48%;
    display: inline-block;
    input {
      &:checked {
        &~.image_mask {
          z-index: 5;
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: $brand-dark-7;
          .image_wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            max-width: 1200px;
            max-height: 60%;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
}


.cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
}

.block-cards {
    display: flex;
}

.offercards{
  margin: 0 auto;
  @include break--md {
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .offercard {
    max-width: 300px;
    margin: 1rem auto;
    .offercard__head {
      margin: 2rem auto 0;
      width: 150px;
      svg {
        padding: 2;
        fill: $brand-light;
        opacity: .85;
        height: 100%;
        width: 100%;
        // filter: drop-shadow(4px 4px 3px $brand-dark-a);
      }
    }
    .offercard__body {
      h3 {
        text-align: center;
        color: $brand-dark;
        font-weight: bold;
      }
      p {
        text-align: center;
      }
      .offercard__link {
          text-align: center;
          margin-top: 1.1rem;
        a {
          padding: .6rem 1.8rem;
          font-weight: bold;
          background: $brand-secondary;
          border-radius: 4px;
          color: $brand-primary;
          // border: 2px solid $brand-primary;
          &:hover {
            background: #b13d1a;
            // border: 2px solid $brand-secondary;
            color: $brand-secondary;
          }
        }
      }
    }
  }
}


.stream__card {
    max-width: 400px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 8px $brand-dark;
  .stream__card__head {
      color: $brand-light;
      position: relative;
      max-height: 225px;
      overflow: hidden;
  }

  .stream__card__head__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
  }

  .stream__card__head__title {
      position: absolute;
      background: $brand-primary-f;
      font-size: $font--md;
      font-range: 320px 480px;
      text-shadow: 0px 0px 4px $brand-dark-6;
      top: 1rem;
      padding: .5rem 1rem;
  }

  .stream__card__body__subtitle {
    font-size: $font--lg;
  }

  .stream__card__body {
      position: relative;
      width: 100%;
      padding: 1rem;
  }
}

.teamcard {
    position: relative;
    max-width: 300px;
    width: 300px;
    border-radius: 3px;
    flex-direction: column;
    box-shadow: 4px 4px 8px $brand-dark-8;
    .teamcard__logo {
      font-family: "Peak";
      position: absolute;
      display: block;
      top: 16px;
      right: 16px;
      z-index: 1;
      color: $brand-primary;
      font-size: 32px;
    }

    .teamcard__head {
        min-height: 225px;
        max-height: 255px;
        position: relative;
        font-size: 0;
        height: auto;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .teamcard__content {
        padding: 20px;
        text-align: center;
        font-size: $font--sm;
        color: $brand-secondary;
        line-height: 2.2em;
        .teamcard__content__name {
            font-weight: bold;
            font-size: $font--lg;
        }
        .teamcard__content__position {
            font-size: $font--md;
        }
  }
}

/*PEN STYLES*/


  
  
  .card-horizontal {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px $brand-dark-6;
    margin-bottom: 1.6%;
    background: $brand-light;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    color: $brand-dark;
    &:hover {
      .photo {
        transform: scale(1.3) rotate(3deg);
      }
    }
    .card-horizontal__head {
      position: relative;
      z-index: 0;
      height: 200px;
      img {
          object-fit: cover;
          height: 100%;
          width: 100%;
      }
    }
    .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    //   background-size: cover;
    //   background-position: center;
      transition: transform .2s;

    }

  
    .details {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;
      margin: auto;
      transition: left .2s;
      background: rgba(#000, .6);
      color: $brand-light;
      padding: 10px;
      width: 100%;
      a {
        text-decoration: dotted underline
      }
    //   ul li {
    //     display: inline-block;
    //   }
  
    //   .tags {
    //     ul:before {
    //       content: "\f02b";
    //       margin-right: 10px;
    //     }
    //     li {
    //       margin-right: 2px;
    //       &:first-child {
    //         margin-left: -4px;
    //       }
    //     }
    //   }
    }
    .card-horizontal__content {
      padding: 1rem;
      background: $brand-light;
      position: relative;
      z-index: 1;
      .read-more {
        text-align: right;
      }
    }
    p {
      position: relative;
      margin: 1rem 0 0;
    }

    .card-hor__content__text {
        margin-top: 1.25rem;
        &:before {
            content: "";
            position: absolute;
            height: 5px;
            background: $brand-primary;
            width: 35px;
            top: -0.75rem;
            border-radius: 3px;
        }
    }

    &:hover {
      .details {
        left: 0%;
      }
    }
  
  
    @include break--sm {
      flex-direction: row;
    //   max-width: 700px;
      .card-horizontal__head {
        flex-basis: 40%;
        height: auto;
      }
      .card-horizontal__content {
        flex-basis: 60%;
        &:before {
          transform: skewX(-3deg);
          content: "";
          background: $brand-light;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1;
        }
      }
      &.card-horizontal-reverse {
        flex-direction: row-reverse;
        .card-horizontal__content {
          &:before {
            left: inherit;
            right: -10px;
            transform: skew(3deg)
          }
        }
        .details {
          padding-left: 25px;
        }
      }
    }
  }


.mystream {

  table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

table td, table th {
    text-align: center;
    padding: 8px;
}

table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

table thead th {
    color: #ffffff;
    background: $brand-secondary-6;
}


table thead th:nth-child(odd) {
    color: #ffffff;
    background: $brand-secondary-a;
}

table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    table thead, table tbody, table thead th {
        display: block;
    }
    table thead th:last-child{
        border-bottom: none;
    }
    table thead {
        float: left;
    }
    table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    table td, table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    table tbody tr {
        display: table-cell;
    }
    table tbody tr:nth-child(odd) {
        background: none;
    }
    table tr:nth-child(even) {
        background: transparent;
    }
    table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    table tbody td {
        display: block;
        text-align: center;
    }
}
}


.accordion-block {
  color: $brand-light;
  .accordion {
    position: relative;
    cursor: pointer;
    padding: 18px 16px 18px 32px;
    transition: .4s;
    &:before,
    &:after {
      background: $brand-primary;
      content: ''; /* Unicode character for "plus" sign (+) */
      height: 2px;
      width: 24px;
      position: absolute;
      left: 0;
      top: 50%;
      transition: all .4s;
    }
    &:after {
      transform: rotate(90deg);
    }
  }
  .active {
    color: $brand-primary;
    &:after {
      opacity: 0;
      content: "\2796"; /* Unicode character for "minus" sign (-) */
    }
  }
  .accordion-panel {
    padding-left: 32px;
    border-left: 1px dotted $brand-primary;
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s ease-out;
  }
}