.block-reviews {
  width: 100%;
  .block-reviews__inner {
    position: relative;
    max-width: 400px;
    height: 250px;
    margin: 0 auto;
    .review {
      text-align: center;
      display: none;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      transition: all 1s;
      .review__stamp {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        .review__icon {
          margin-right: 8px;
          // display: inline-block;
          // height: 40px;
          svg {
            max-width: 64px;
            max-height: 64px;
            filter: drop-shadow(1px 1px 1px $brand-dark);
          }
        }
        .review__stars {
          // display: inline-block;
          svg {
            width: 16px;
            filter: drop-shadow(1px 1px 2px $brand-dark);
          }
        }
      }
      .review__name {
        font-size: $font--md;
        font-weight: bold;
      }
      .review__text {
        position: relative;
        font-style: italic;
        &::before,
        &::after {
          position: absolute;
          content: "'";
          font-size: $font--ll;
        }
        &::before {
          content: "\201c";
          top: 0;
          left: 0;
          transform: translate(-100%);
        }
        &::after {
          content: "\201d";
          bottom: 0;
          right: 0;
          transform: translate(100%);
        }
      }
    }
    .review-show {
      display: block;
      visibility: initial;
      opacity: 1;
      animation: 1s ease-in-out 0s fadeIn;
    }
  }
}

.block-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  label {
    max-width: 48%;
    display: inline-block;
    input {
      &:checked {
        & ~ .image_mask {
          z-index: 5;
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: $brand-dark-7;
          .image_wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            max-width: 1200px;
            max-height: 60%;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}

.offercards {
  margin: 0 auto;
  @include break--md {
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .offercard {
    max-width: 300px;
    margin: 1rem auto;
    .offercard__head {
      margin: 2rem auto 0;
      height: 150px;
      width: 150px;
      svg {
        padding: 2;
        fill: $brand-secondary;
        opacity: 0.85;
        height: 100%;
        width: 100%;
        // filter: drop-shadow(4px 4px 3px $brand-dark-a);
      }
    }
    .offercard__body {
      h3 {
        margin-top: .5rem;
        text-align: center;
        color: $brand-light;
        font-weight: bold;
      }
      p {
        color: $brand-secondary;
        text-align: center;
      }
      .offercard__link {
        text-align: center;
        margin-top: 1.1rem;
        a {
          background: $brand-secondary;
          color: $brand-light;
          &:hover {
            background: $brand-emphasis;
          }
        }
      }
    }
  }
}


.cards {
  display: flex;
  .card {
    background: $brand-light;
    flex: 1;
    position: relative;
    border-radius: 3px;
    flex-direction: column;
    box-shadow: 4px 4px 8px $brand-dark-8;
    .card__head {
      position: relative;
      overflow: hidden;
      height: auto;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card__content {
      background: inherit;
      position: relative;
      padding: 20px;
      font-size: $font--sm;
      .card__content__title {
        font-weight: bold;
        font-size: $font--lg;
      }
      .card__content__subtitle {
        font-size: $font--md;
      }
    }
  }
}

.cards--vertical {
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  .card {
    min-width: 300px;
    max-width: 400px;
    margin: 1rem;
    .card__head {
      padding-top: 75%;
    }
    .card__content {
      text-align: center;
    }
  }
}

.cards--horizontal {
  flex-direction: column;
  &:hover {
    .card__head {
      img {
        transform: scale(1.1) rotate(1deg);
      }
    }
  }
  .card {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    .card__head {
      img {
        transition: transform 0.4s;
      }
      min-height: 200px;
    }
    .card__content {
      z-index: 1;
      .card__content__title {
      }
      .card__centent__subtitle {
      }
    }
  }
  @include break--sm {
    .card {
      flex-direction: row;
      .card__head {
        height: auto;
        flex-basis: 40%;
      }
      .card__content {
        flex-basis: 60%;
        &:before {
          transform: skewX(-3deg);
          content: "";
          background: inherit;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1;
        }
        .card__content__title {
        }
        .card__centent__subtitle {
        }
      }
    }
    .card-flex-reverse {
      flex-direction: row-reverse;
      .card__content {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }
    }     
  }
}

.image-text {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 4px 4px 8px $brand-dark-8;
  @include break--sm {
    flex-direction: row;
    max-width: inherit;
  }
  .image-text__image  {
    flex-basis: 100%;
    position: relative;
    width: 100%;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .image-text__text {
    flex-basis: 100%;
    margin: 0;
    padding: 1.8rem 1rem;
  }

}


// /*cards skeleton*/
// .cards {
//   .card {
//     .card__head {
//     }
//     .card__content {
//       .card__content__title {
//       }
//       .card__centent__subtitle {
//       }
//     }
//   }
// }

.mystream {

  .section-block-tittle {
    font-family: $fonts;
  }
  .section-block-title--decorated {
    font-family: $fonts-space;
  }
  padding: .5rem;
  table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
  }

  table td,
  table th {
    text-align: center;
    padding: 8px;
  }

  table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
  }

  table thead th {
    color: #ffffff;
    background: $brand-secondary-6;
  }

  table thead th:nth-child(odd) {
    color: #ffffff;
    background: $brand-secondary-a;
  }

  table tr:nth-child(even) {
    background: #f8f8f8;
  }

  /* Responsive */

  @media (max-width: 767px) {
    table {
      display: block;
      width: 100%;
    }
    .table-wrapper:before {
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
    }
    table thead,
    table tbody,
    table thead th {
      display: block;
    }
    table thead th:last-child {
      border-bottom: none;
    }
    table thead {
      float: left;
    }
    table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
    }
    table td,
    table th {
      padding: 20px 0.625em 0.625em 0.625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
    }
    table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
    }
    table tbody tr {
      display: table-cell;
    }
    table tbody tr:nth-child(odd) {
      background: none;
    }
    table tr:nth-child(even) {
      background: transparent;
    }
    table tr td:nth-child(odd) {
      background: #f8f8f8;
      border-right: 1px solid #e6e4e4;
    }
    table tr td:nth-child(even) {
      border-right: 1px solid #e6e4e4;
    }
    table tbody td {
      display: block;
      text-align: center;
    }
  }
}

.accordion-block {
  color: $brand-light;
  .accordion {
    position: relative;
    cursor: pointer;
    text-transform: none;
    font-size: $font--md;
    padding: 18px 16px 18px 32px;
    transition: 0.4s;
    &:before,
    &:after {
      background: $brand-primary;
      content: ""; /* Unicode character for "plus" sign (+) */
      height: 2px;
      max-width: 24px;
      min-width: 14px;
      width: 3vw;
      position: absolute;
      left: 0;
      top: 50%;
      transition: all 0.4s;
      transform: translateY(-50%);
    }
    &:after {
      transform: translateY(-50%) rotate(90deg);
    }
  }
  .active {
    color: $brand-primary;
    &:after {
      opacity: 0;
      content: "\2796"; /* Unicode character for "minus" sign (-) */
    }
  }
  .accordion-panel {
    padding-left: 32px;
    border-left: 1px dotted $brand-primary;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
  }
}
