.c-anchor-standard {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        color: $brand-primary;
    }
}


.c-nav-anchor {
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 3px $brand-dark;
    transition: all .3s;
    color: $brand-light-f;
    position: relative;
    padding: .6rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        position: absolute;
        transition: all .2s;
        opacity: 0;
        height: 24px;
        width: 24px;
    }
    &::before {
        left: 12px;
        top: 12px;
        border-top: 3px solid $brand-primary;
        border-left: 3px solid $brand-primary;
        
    }
    &::after {
        right: 12px;
        bottom: 12px;
        border-bottom: 3px solid $brand-primary;
        border-right: 3px solid $brand-primary;
    }
    &:hover {
        color: $brand-light;
        text-decoration: none;
        &::before,
        &::after {
            opacity: 1;
        }
        &::before {
            left: 0;
            top: 0;
        }
        &::after {
            right: 0;
            bottom: 0;
        }
    }
}        

.c-anchor {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: .5rem 2rem;
    box-sizing: border-box;
    border: 3px solid transparent;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
}

.c-anchor-inline {
    display: inline-block;
}

.c-anchor-hover-override-inline{
    &:hover {
        color: $brand-light !important;
        background: $brand-emphasis !important;
        // border: 3px solid $brand-primary;
        &::before,
        &::after {
            content: none;
        }
    }
}

.c-anchor-primary {
    background: $brand-primary;
    color: $brand-dark;
    text-shadow: none;
    border: 3px solid transparent;
    &:hover {
        color: $brand-light;
        background: $brand-emphasis;
        // border: 3px solid $brand-primary;
        &::before,
        &::after {
            content: none;
        }
    }
}

.c-anchor-secondary {
    color: $brand-light;
    border: 3px solid transparent;
    background: $brand-secondary;
    &::before,
    &::after {
        content: none;
    }
    &:visited {
        color: $brand-light;
    }
    &:hover {
        background: $brand-emphasis;
    }
}

.c-anchor-disabled {
    color: $brand-light;
    background: $brand-secondary-7;
    &:hover {
        cursor: not-allowed;
    }
}

