.c-link-primary {
    text-decoration: underline;
    cursor: pointer;
    color: $brand-primary;
}


.c-nav-anchor {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 0 3px $brand-dark;
    transition: all .3s;
    position: relative;
    padding: .5rem;
    font-weight: bold;
    font-size: rfs-fluid-value(1rem);
    opacity: .8;

    &::before,
    &::after {
        content: '';
        position: absolute;
        transition: all .2s;
        opacity: 0;
        height: 24px;
        width: 24px;
    }
    &::before {
        left: 12px;
        top: 12px;
        border-top: 3px solid $brand-primary;
        border-left: 3px solid $brand-primary;
        
    }
    &::after {
        right: 12px;
        bottom: 12px;
        border-bottom: 3px solid $brand-primary;
        border-right: 3px solid $brand-primary;
    }
    &:hover {
        color: $brand-primary;
        &::before,
        &::after {
            opacity: .8;
        }
        &::before {
            left: 0px;
            top: 0px;
        }
        &::after {
            right: 0px;
            bottom: 0px;
        }
    }
}