.calendar-frame {
    position: relative;
    width: 100%;
    height: 590px;
}

.text-shadow {
    text-shadow: 0 0 10px $brand-dark;
    box-shadow: 3px 3px 8px $brand-dark-a;;
    caption-side: top;
    color: $brand-light;
    padding: 0;
}

.cal-image {
    height: 150px;
    overflow: hidden;
}

.cal-nav__btn {
    cursor: pointer;
    &:hover {
        background: $brand-light-5;
    }

}

.cell {
    width: 14.28%;
    padding-top: 14.28%;
    box-sizing: border-box;
    border: 1px dotted $brand-secondary-3;
    position: relative;
}

.cell--not-in-month {
    background: $brand-secondary-1;
    .cell_inner {
        p {
            color: $brand-secondary-3;
        }
    }
}


.cell__inner {
    background: $brand-secondary-1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    cursor: not-allowed;
}

.cell__day-number-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.cell__day-number {
    width: 100%;
    line-height: 100%;
    text-align: center;
}

.cell__available-data {
    border: none;
    padding-top: 4px;
    position: absolute;
    background: $brand-light;
    overflow: hidden;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all $t--quick;
    &:before {
        content: '';
        width: 100%;
        height: 2px;
        background: $brand-primary;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:hover {
        background: $brand-primary;
    }
}


.calendar-spinner {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 91;
}

#cell--last-clicked {
    background: $brand-secondary-3;
    border-bottom: none;
}
.available-slots-response {
    background: $brand-secondary-3;
    width: 100%;
    td {
        padding: 1rem;
    }
}


#available-spinner {
    display: none;
}

.available-spinner__spinner-wrapper {
    height: 200px;
    width: 100%;
}


.booking-form-response {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}

.booking-form-blocker {
    height: 100%;
    width: 100%;
    background: $brand-dark-6;
}

.booking-form-wrapper {
    max-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 91;
    max-width: 100vw;
    width: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}


.booking-form-spinner {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: none;
}

.admin-slot {
    display: flex;
}
 
.admin-slot__extra-button {
    flex: 1;
    padding: 1rem;
    margin: auto;
}