/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.cart-overlay {
    position: absolute;
    right: 124px;
    z-index: 1;
    color: $brand-light;
    transition: .3s all;
    transform: translateY(.6rem);
    margin-right: .6rem;
    background: $brand-secondary;
    height: 32px;
    width: 100px;
    overflow: hidden;
    border-radius: 8px;
    opacity: .95;
    &:hover {
        background: $brand-primary;
        cursor: pointer;
    }
}

.cart-overlay__inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.cart-overlay__link {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
}

.cart-overlay__icon-wrapper {
    // position: absolute;
    height: 28;
    margin: 2 auto;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%) translateY(-50%);
    // border-radius: 50%;
    svg {
        height: 100%;
        fill: $brand-light;
        position: absolute;
        right: 51%;
    }
}

.cart-overlay__items-amount,
.cart-overlay__items-amount--empty {
    position: absolute;
    color: white;
    left: 51%;
    background: red;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-size: 24px;
    height: 28px;
    width: 28px;
    margin: 2px auto;
    display: block;
    text-decoration: none;
}

.cart-overlay__items-amount--empty {
    background: $brand-secondary;

}

.cart-overlay {
    .switcher-language {
      position: relative;
      height: 32px;
      text-decoration: none;
      &:hover {
        background: $brand-primary;
      }
      * {
        text-transform: uppercase;
        line-height: 32px;
        margin-left: 4px;
        display: block;
        height: 100%;
        width: 100%;
        svg {
          position: absolute;
          top: 4px;
          left: 12px;
          display: inline-block;
          height: 24px;
        }
      }
    }
  }
  
  