.list-check-primary {
    li {
        margin: 12px 0;
        left: 24px;
        position: relative;
        &::before {
            content: '✓';
            font-size: 1.5em;
            display: block;
            left: -24px;
            top: calc(50%);
            transform: translateY(-50%);
            color: $brand-primary;
            position: absolute;
        }
    }
}
