.list-check-primary {
    li {
        margin: .5em 0;
        position: relative;
        &::before {
            content: '✓';
            font-size: 1.4em;
            display: block;
            left: -1.2em;
            top: calc(50%);
            transform: translateY(-50%);
            color: $brand-primary;
            position: absolute;
        }
    }
}
