/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.c-section-id-offset {
    display: block;
    position: absolute;
    top: -64px;
}

.c-wrapper--xs {
    padding: 0 0.6rem;
    margin: 0 auto;
    max-width: $width--xs;
}

.c-wrapper--sm {
    padding: 0 0.6rem;
    margin: 0 auto;
    max-width: $width--sm;
}

.c-wrapper--md {
    padding: 0 0.6rem;
    margin: 0 auto;
    max-width: $width--md;
}

.c-wrapper--lg {
    padding: 0 0.6rem;
    margin: 0 auto;
    max-width: $width--lg;
}

.c-wrapper--xl {
    padding: 0 0.6rem;
    margin: 0 auto;
    max-width: $width--xl;
}

.c-section,
.c-section-light,
.c-section-dark,
.c-section-primary,
.c-section-secondary,
.c-section-color {
    position: relative;
    overflow: hidden;
    &::before,
    &::after{
        content: '';
        display: block;
        height: 24px;
    }
}

.c-section-dark {
    background: $brand-dark;
    color: $brand-font-light;
    z-index: 4;
}

.c-section-primary {
    background: $brand-primary;
    color: $brand-font-dark;
    z-index: 2;
}

.c-section-secondary {
    background: $brand-secondary;
    color: $brand-font-light;
    z-index: 3;
}

.c-section-grey {
    background: $brand-grey;
}

.c-section-light{
    color: $brand-font-dark;
}

.c-section-fullwidth {
    margin: 0;
    padding: 0;
}

.c-inner-width--sm {
    max-width: 960px;
    margin: 0 auto;
}

.c-inner-width--md {
    max-width: 1200px;
    margin: 0 auto;
}