{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<header class="header--small">
    {% if self.header_image %}
    {% image self.header_image width-1200 as header_img%}    
    <div class="header__mask" style="background-image: url(' {{header_img.url}}'); background-size: cover;">
    {% else %}
    <div class="header__mask">
    {% endif %}
    </div>
    <h1>{% block page_title %}{{page.submitted_title}}{% endblock page_title %}</h1>
</header>
{% endblock content %}