{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<header class="secondary-header">
    {% if self.header_image %}
    {% image self.header_image width-1200 as header_img%}    
    <div class="secondary-header__mask"></div>
    <div class="secondary-header__image" style="background-image: url(' {{header_img.url}}'); background-size: cover;">
    {% else %}
    <div class="secondary-header__solid">
    {% endif %}
        <h1>{% block page_title %}{{page.submitted_title}}{% endblock page_title %}</h1>
    </div>
</header>
{% endblock content %}