{% load static wagtailuserbar %}
{% load wagtailimages_tags %}
{% load cookie_consent_tags %}
{% load wagtail_modeltranslation %}
{% load i18n %}

<!DOCTYPE html>
<html itemscope class="no-js" lang="de">
    <head>
        {% if self.noindex %}
        <meta name="robots" content="noindex"> 
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8"/>

        {% comment "Meta titles" %}{% endcomment %}
        {% if self.seo_title %}
            {% with self.get_site.site_name as site_name %}
            <title>{{self.seo_title}}{% if site_name %}{% endif %}</title>
            <meta name="title" content="{{self.seo_title}}">
            <meta name="og:title" content="{{self.seo_title}}">
            <meta name="twitter:title" content="{{self.seo_title}}">
            {% endwith %}
        {% else %} 
            {% with 'Breakout Escape Room Augsburg' as base_title %}
            <title>{% if extra_title %}{{ extra_title }} - {% endif %}{{base_title}}</title>
            <meta name="title" content="{% if extra_title %}{{ extra_title }} - {% endif %}{{ base_title }} ">
            <meta name="og:title" content="{% if extra_title %}{{ extra_title }} - {% endif %}{{ base_title }}">
            <meta name="twitter:title" content="{% if extra_title %}{{ extra_title }} - {% endif %}{{ base_title }} ">
            {% endwith %}
        {% endif %}

        {% comment %} meta urls {% endcomment %}
                {% comment %} meta urls {% endcomment %}
        {% if language_canonical %}
            {% language language_canonical.language_code %}
                <link rel="canonical" href="https://breakout-escaperoom.de{{ page.url }}">
            {% endlanguage %}
        {% else %}
            <link rel="canonical" href="https://breakout-escaperoom.de{{ request.path }}">
        {% endif %}
        {% for alternative in language_alternatives %}
            {% language alternative.language_code %}
                <link rel="alternative" hreflang="{{ alternative }}" href="https://breakout-escaperoom.de{{ page.url }}">
            {% endlanguage %}
        {% endfor %}

        <meta name="og:url" content="https://breakout-escaperoom.de{{request.path}}">
        <meta name="twitter:url" content="https://breakout-escaperoom.de{{request.path}}">

        {% comment %} meta descriptions {% endcomment %}
        {% if self.search_description %}
        <meta name="description" content="{{ self.search_description }}" />
        <meta name="og:description" content="{{ self.search_description }}" />
        <meta name="twitter:description" content="{{ self.search_description }}" />
        <meta itemprop="description" content="{{ self.search_description }}">
        {% else %}
        <meta name="description" content="{% if extra_description %}{{ extra_description }}{% else %} Breakout Escape Room Augsburg{% endif %}" />
        <meta name="og:description" content="{% if extra_description %}{{ extra_description }}{% else %} Breakout Escape Room Augsburg{% endif %}" />
        <meta name="twitter:description" content="{% if extra_description %}{{ extra_description }}{% else %} Breakout Escape Room Augsburg{% endif %}" />
        <meta itemprop="description" content="{% if extra_description %}{{ extra_description }}{% else %} Breakout Escape Room Augsburg{% endif %}"/>
        {% endif %}

        {% comment %} meta image {% endcomment %}
        {% if self.seo_image %}
        {% image self.seo_image fill-1200x627 as ogimage %}
        {% image self.seo_image fill-512x512 as twitterimage %}
        <meta name="og:image" content="https://breakout-escaperoom.de/{{ogimage.url|slice:"1:"}}" />
        <meta itemprop="image" content="https://breakout-escaperoom.de/{{ogimage.url|slice:"1:"}}" />
        <meta name="twitter:image" content="https://breakout-escaperoom.de/{{twitterimage.url|slice:"1:"}}" />
        {% endif %}

        {% comment %} other meta tags {% endcomment %}
        <meta name="og:type" content="website" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="theme-color" content="#464839">
        <meta itemprop="name" content="">

        <link rel="icon" href="{% static 'img/favicons/breakout-favicon.svg' %}" type="image/svg+xml" />
        <link rel="alternate icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon" sizes="16x16"/>
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#463839">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-touch-icon-152x152-precomposed.png' %} " />
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-touch-icon-120x120-precomposed.png' %} " />



        <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="{% static 'fonts/capture_it/capture_it.woff2' %}">
        <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="{% static 'fonts/open-sans-v27-latin-regular.woff2' %}">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        {% comment %} thin.css is render blocking css {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/thin.css' %}">
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" media="print" onload="this.media='all'">
        {% comment %} <link rel="stylesheet" href="{% static 'css/main.css' %}" media="print" onload="this.media='all'"> {% endcomment %}
        {% comment %} <link async rel="preload" href="{% static 'css/main.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'"> {% endcomment %}
        <noscript><link rel="stylesheet" href="{% static 'css/main.css' %}"></noscript>

        {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> {% endcomment %}
        {% comment %} font awesome  {% endcomment %}

        {% comment %} cookie consent {% endcomment %}
        <script type="{% js_type_for_cookie_consent request "analytics" %}" data-varname="analytics" async src="https://www.googletagmanager.com/gtag/js?id=UA-155197583-1"></script>
        <script type="{% js_type_for_cookie_consent request "analytics" %}" data-varname="analytics" async>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-155197583-1');</script>
        <script type="{% js_type_for_cookie_consent request "analytics" %}" data-varname="analytics" async>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"7536ecf8e99e15c9fe6647b0fa5d9b7f"})});</script>
        {% if request|cookie_group_accepted:"analytics" %}
        {% endif %} 

        {% comment %} Pixel {% endcomment %}

        <script type="{% js_type_for_cookie_consent request "analytics" %}" data-varname="analytics">
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '771246953533666');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=771246953533666&ev=PageView&noscript=1"/>
	</noscript>
        <script type="{% js_type_for_cookie_consent request "analytics" %}" data-varname="analytics">window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-155197583-1');</script>
        <script type="{% js_type_for_cookie_consent request "analytics" %}" data-varname="analytics">function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"7536ecf8e99e15c9fe6647b0fa5d9b7f"})});</script>

        {% comment %} site wide schema {% endcomment %}
        <script type="application/ld+json">
            {% include "schema/schema_business.json" %}
        </script>
        <script type="application/ld+json">
            {% include "schema/schema_website.json" %}
        </script>

        {% if page.extra_schema %}
        <script type="application/ld+json">
            {{ extra_schema }}
        </script>
        {% endif %}


    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% include 'navbar.html' %}
            {% comment %} {% include 'navbar.html' %} {% endcomment %}
        {% block content %}{% endblock content %}

        {% include 'footer.html' %} 
        {# Global javascript #}
        {% include 'cookie_consent.html' %}
        {% comment %} <script  src="{% static 'js/peak.js' %}"></script> {% endcomment %}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
