{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% comment %} <link rel="canonical" href="https://breakout-escaperoom.de{{request.path}}"/> {% endcomment %}
        <link rel="canonical" href="http://127.0.0.1:8000{{request.path}}"/>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="icon" href="{% static 'img/favicons/breakout-favicon.ico' %}" type="image/x-icon"/>
        <link rel="shortcut icon" href="{% static 'img/favicons/breakout-favicon.ico' %}" type="image/x-icon"/>

        {% if self.search_description %}
            <meta name="description" content="{{ self.search_description }}" />
        {% else %}
            <meta name="description" content="Breakout Escape Room Augsburg" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="{% static 'fonts/capture_it/capture_it.woff2' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% include 'navbar.html' %}

        {% block content %}{% endblock %}
        <footer>
            {% include 'footer.html' %} 
        </footer>

        {# Global javascript #}
        {% include 'cookie_consent.html' %}
        {% comment %} <script  src="{% static 'js/peak.js' %}"></script> {% endcomment %}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
