{% extends 'wagtailadmin/base.html' %}
{% load wagtailadmin_tags i18n %}
{% load static %}
{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/home.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/page-editor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

{% endblock %}

{% block content %}
  {% block header %}
    <header class="nice-padding">
    <h1 class="{% block page_icon %}{{page_icon}}{% endblock page_icon %}">{% block page_title %}{{page_title}}{% endblock page_title %}</h1>
    </header>
  {% endblock header %}
<div class="nice-padding">
  {% block body %}
  {% endblock body %}
</div>
{% endblock %}