{% load i18n %}
{% load menus_tags %}
{% get_menu "footer-links" as links %}
<footer class="bg-secondary w-100 text-light" >
    <div class="container">
        <div class="row pt-5 pb-3">
            <div class="col">
                <div class="d-flex flex-wrap justify-content-evenly">
                    <a class="svg-btn--light-primary svg-md" target="_blank" rel="noopener" href="https://www.facebook.com/breakoutaugsburg">
                        {% include 'svg/icon-facebook.svg' %}
                    </a>
                    <a class="svg-btn--light-primary svg-md" target="_blank" rel="noopener" href="https://www.instagram.com/breakoutaugsburg">
                        {% include 'svg/icon-instagram.svg' %}
                    </a>
                    <a class="svg-btn--light-primary svg-md" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCPKBo3nLDMGYEd4t_bkhTOQ">
                        {% include 'svg/icon-youtube.svg' %}
                    </a>
                    <a class="svg-btn--light-primary svg-md" target="_blank" rel="noopener" href="https://www.linkedin.com/company/breakout-escape-room">
                        {% include 'svg/icon-linkedin.svg' %}
                    </a>
                        {% comment %} <a rel="noopener" href="https://twitter.com/flypeakheli">
                            {% include 'svg/icon-twitter.svg' %}
                        </a> {% endcomment %}
                </div>
            </div>
        </div> 

        <div class="row py-3">
            <div class="col">
            <ul class="d-flex flex-wrap justify-content-evenly m-auto">
                {% for link in links.menu_items.all %}
                    <li class="m-3">
                        <a class="c-link-light-primary" 
                        {% if link.noopener %}rel="noopener"{% endif %}
                        {% if link.new_tab %}target="_blank"{% endif %}
                        href="{{ link.link }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>


        <div class="row pt-3">
            <div class="col text-center">
                <p class="">
                <span> email: <a target="_blank" href="mailto:info@breakout-escaperoom.de?Subject=Anfrage" class="link-primary">info@breakout-escaperoom.de</a></span>
                |
                    <span>{% trans "Tel: " %}<a target="_blank" href="tel:+4915777853955" class="link-primary">+49 157 7785 3955</a></span>
                </p>
            </div>
        </div>


        <div class="row pb-3">
            <div class="col text-center">
                <p class="">
                    <span>
                        © Breakout Escape Room GmbH 
                    </span> 
                    |
                    <span>
                        <a class="link-primary" href="https://antonioadrian.dev" rel="noopener" target="_blank">Site by Antonio Adrian</a>
                    </span>
                </p>
            </div>
        </div>

    </div>
</footer>