{% load i18n %}
{% load menus_tags %}
{% get_menu "footer-links" as links %}

<div class="footer-content">

    <div class="footer__social">
        <h2 class="tac">{% trans "Connect with us:" %}</h2>
        <br>
        <div class="footer__social__icons">
            <div class="footer__social__icon">
                <a target="_blank" rel="noopener" href="https://www.facebook.com/breakoutaugsburg">
                    {% include 'svg/icon-facebook.svg' %}
                </a>
            </div>
            {% comment %} <div class="footer__social__icon">
                <a rel="noopener" href="https://twitter.com/flypeakheli">
                    {% include 'svg/icon-twitter.svg' %}
                </a>
            </div> {% endcomment %}
            <div class="footer__social__icon">
                <a target="_blank" rel="noopener" href="https://www.instagram.com/bereakoutaugsburgr">
                    {% include 'svg/icon-instagram.svg' %}
                </a>
            </div>
            <div class="footer__social__icon">
                <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCPKBo3nLDMGYEd4t_bkhTOQ">
                    {% include 'svg/icon-youtube.svg' %}
                </a>
            </div>
            <div class="footer__social__icon">
                <a target="_blank" rel="noopener" href="https://www.linkedin.com/company/breakout-escaperoom">
                    {% include 'svg/icon-linkedin.svg' %}
                </a>
            </div>
        </div>
    </div> 
    <div class="footer__links">
        <ul>
        {% for link in links.menu_items.all %}
            <li>
                <a href="{{ link.link }}">{{ link.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>


    <div class="footer__info">
            email: <a target="_blank" href="mailto:info@breakout-escaperoom.de?Subject=Anfrage" class="contact-link">info@breakout-escaperoom.de</a> | {% trans "Tel: " %}
            <a target="_blank" href="tel:+4915777853955" class="contact-link">+49 157 7785 3955</a>
    </div>


    <div class="footer__info">
        <p>© Breakout Escape Room GmbH 
        <span> |
        <a href="https://antonioadrian.dev" rel="noopener">Site by Antonio Adrian</a>
        </span> 
        </p>
    </div>

</div>
