{% load i18n %}
{% if language_all|length > 1 %}
<ul class="switcher-languages">
{% for language in language_all %}
{% language language.language_code %}
  <li class="switcher-language">
    {% if forloop.counter == 1 %}
    <span>{{language}} {% if language.svg_flag %}{{language.svg_flag|safe}}{% endif %}</span>
    {% else %}
    <a href="{{page.url}}" title="{{language.language_name}}">{{language}} {{language.svg_flag|safe}}</a>
    {% endif %}
  </li>
{% endlanguage %}
{% endfor %}
</ul>
{% endif %}