.online-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @include break--md {
        grid-template-columns: 1fr 1fr;
    }
}

.online-image-wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 600px;
    overflow: hidden;
    img {

        height: 100%;
        width: 100%;
    }
    a {
        position: absolute;
    }
}

.online-text-wrapper {
    margin: 0 auto;
    max-width: 600px;
    li {
        margin: .5rem 0;
        left: 10px;
        position: relative;
        &::before {
            content: '';
            display: block;
            height:4px;
            width: 4px;
            left: -10px;
            top: calc(50% - 2px);
            border-radius: 50%;
            background: $brand-primary;
            position: absolute;
        }
    }
}

.online-button-wrapper {
    max-width: 600px;
    margin: 0 auto;
    @include break--md {
        max-width: 100%;
    }
    a {
        margin: 1rem auto 0;
    }
}