/* blog index */
.blog-post-item {
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 1px solid $brand-secondary;
}

.blog-intro {
  img {
    max-width: 128px;
    max-height: 128px;
    width: auto;
    height: auto;
  }
}

/* blog post*/

.blog-body,
.richtext,
.mystream {
  margin: 1.5rem auto 0;
  line-height: 1.5em;
  ul {
    list-style: disc;
  }
  p {
    font-size: $font--sm;
    margin: 1rem auto;
  }
  li {
    font-size: $font--sm;
    position: relative;
    left: 16px;
    &::marker {
      font-size: .8rem;
    }
  }
  hr {
    border: 0; 
    height: 1px; 
    background: linear-gradient(to left, #f0f0f0, #8c8b8b, #f0f0f0);
  }
  .richtext-image {
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .richtext-image.left {
    @include break--sm {
      float: left;
      margin-right: 1rem;
      min-width: 48%;
      max-width: 50%;
      width: auto;
      height: auto;
    }
  }
  a {
    b {
      text-decoration: none;
      background: $brand-primary;
      padding: 0.3rem 1rem;
      border-radius: 4px;
      &:hover {
        text-decoration-color: $brand-light;
        background: $brand-emphasis;
        color: $brand-light;
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    b {
      font-weight: normal;
      font-family: $fonts-space;
    }
  }
}
