/* blog index */
.blog-post-item {
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 1px solid $brand-secondary;
}

.blog-intro {
  img {
    max-width: 128px;
    max-height: 128px;
    width: auto;
    height: auto;
  }
}

/* blog post*/

.blog-body,
.richtext,
.mystream {
  margin: 3rem auto;
  p {
    margin: 1rem auto;
  }
  .richtext-image {
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .richtext-image.left {
    @include break--sm {
      float: left;
      margin-right: 1rem;
      min-width: 48%;
      max-width: 50%;
      width: auto;
      height: auto;
    }
  }
  a {
    b {
      text-decoration: none;
      background: $brand-primary;
      padding: 0.3rem 1rem;
      border-radius: 4px;
      &:hover {
        text-decoration-color: $brand-light;
        background: $brand-emphasis;
        color: $brand-light;
      }
    }
  }
}
