.contact-method {
    position: relative;
    background: $brand-primary;
    padding: 1rem;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    transition: color .3s, background .3s;
    display: grid;
    align-content: center;
    justify-content: center;
    svg {
        fill: $brand-light;
        width: 32px;
        transition: fill .3s;
    }
    &:hover {
        background: $brand-emphasis;
        svg {
            fill: $brand-light;
        }
    }
    @include break--xs {
        height: 96px;
        width: 96px;
        svg {
            width: 48px
        }
    }
}
