
.coupons-pictures {
    position: relative;
    max-width: 480px;
    min-height: 480px;
    img {
        width: 60%;
        position: absolute;
        left: 50%;
        top: 0;
        box-shadow: 3px 3px 5px $brand-dark;
    }    
}

.coupons-pictures_pic1 {
    transform: translateX(-23%) rotate(6deg);
}

.coupons-pictures_pic2{
    transform: translateX(-60%) translateY(5%) rotate(-20deg);

}

.coupon-method {
    counter-reset: stepnum;
}

.coupon-step_icon {
    svg {
        height: 38px;
        width: 38px;
    }
}



.coupon_form {
    line-height: 2rem;
    input,
    select {
        width: 100%;
            border: 1px solid #ced4da;
    }
    select {
        line-height: 2rem;
        height: 36px;
        cursor: pointer;
        padding: .3rem 2rem;
    }
}

.stepper {
    counter-reset: stepnum;
    .line {
      width: 2px;
      min-height: 64px;
      background-color: lightgrey !important;
    }
    .lead {
      font-size: 1.1rem;
    }
    .step {
        counter-increment: stepnum;
        border-radius: 50%;
        min-height: 38px;
        min-width: 38px;
        line-height: 38px;
        text-align: center;
        font-size: 24px;
        margin-bottom: 8px;
        
        &::before {
            content: counter(stepnum);
        }
    }
  }