/* blog index */


.blog-index__posts {
  margin-top: 3rem;
  .blog-index__post-preview {
    color: $brand-secondary;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 8px $brand-dark;
    h2 {
      color: $brand-light;
      background: $brand-primary;
      font-family: $fonts;
      text-decoration: none;
      padding: .8rem;
    }
    img {
      width: 100%;
    }
    .blog-intro {
      h1, h2, h3, h4, h5, h6, a, li, p {
        color: $brand-secondary;
        background: none;
        font-size: $font--sm;
        margin: 0;
        padding: 0;
      }
      padding: .8rem;
      img {
        max-width: 64px;
        max-height: 64px;
        width: auto;
        height: auto;
      }
    }
    .blog-read-more {
      width: 100%;
      display: block;
      font-size: large;
      text-align: center;
      padding: .8rem;
      a{
        transition: all .3s;
        &:hover {
          font-size: x-large;
          opacity: .8;
        }
      }
    }
  }
}

  
  /* blog post*/
  
.richtext {
    h1, h2, h3, h4, h5, h6 {
    ol, ul {
      padding: 0;
    }
    li {
      margin: 12px 0;
      left: 24px;
      position: relative;
    }
    ul {
      li {
        &::before {
          content: '✓';
          font-size: 1.5em;
          display: block;
          left: -24px;
          top: calc(50%);
          transform: translateY(-50%);
          color: $brand-primary;
          position: absolute;
        }
      }
    }
  }
}