/* blog index */


.blog-index__posts {
  margin-top: 3rem;
  .blog-index__post-preview {
    color: $brand-secondary;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 8px $brand-dark;
    h2 {
      color: $brand-light;
      background: $brand-primary;
      font-family: $fonts;
      text-decoration: none;
      padding: .8rem;
    }
    img {
      width: 100%;
    }
    .blog-intro {
      h1, h2, h3, h4, h5, h6, a, li, p {
        color: $brand-secondary;
        background: none;
        font-size: $font--sm;
        margin: 0;
        padding: 0;
      }
      padding: .8rem;
      img {
        max-width: 64px;
        max-height: 64px;
        width: auto;
        height: auto;
      }
    }
    .blog-read-more {
      width: 100%;
      display: block;
      font-size: large;
      text-align: center;
      padding: .8rem;
      a{
        transition: all .3s;
        &:hover {
          font-size: x-large;
          opacity: .8;
        }
      }
    }
  }
}

  
  /* blog post*/
  
  .richtext,
  .standard-page {
    h1, h2, h3, h4, h5, h6 {
      font-family: $fonts;
      b {
        font-family: $fonts-space;
        font-weight: 100;
      }
    }
    margin: 1.5rem auto 0;
    line-height: 1.15;
    ul {
      list-style: disc;
    }
    p {
      font-size: $font--sm;
      margin: 1rem auto;
    }
    li {
      font-size: $font--sm;
      position: relative;
      left: 16px;
      margin-top: 8px;
      margin-bottom: 8px;
      &::marker {
        font-size: .8rem;
      }
    }
    hr {
      border: 0; 
      height: 1px; 
      background: linear-gradient(to left, #f0f0f0, #8c8b8b, #f0f0f0);
    }
    .richtext-image {
      min-width: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
    }
  
    .richtext-image.left {
      @include break--sm {
        float: left;
        margin-right: 1rem;
        min-width: 48%;
        max-width: 50%;
        width: auto;
        height: auto;
      }
    }
    a {
      color: $brand-emphasis;
      text-decoration: underline;
      b {
        text-decoration: none;
        background: $brand-primary;
        padding: 0.3rem 1rem;
        border-radius: 4px;
        &:hover {
          text-decoration-color: $brand-light;
          background: $brand-emphasis;
          color: $brand-light;
        }
      }
    }
    .textbox--grey {
      padding: 1rem;
      background: #cccccccc;
    }
  }
  
  
  .d-block {
      display: block;
  }
  
  .info-content {
      background: #eee;
      border-radius: 2rem;
      padding: 2rem;
      ul, ol {
          list-style-position: inside;
      }
  
      h2 {margin-bottom: 1.5rem;}
      h3 {margin-bottom: 1.2rem;}
      h4 {margin-bottom: 1rem;}
      h5 {margin-bottom: .8rem;}
      h6 {margin-bottom: .7rem;}
  
      p, li {
          margin-bottom: .5rem;
      }
  
  }
  
  
  .enumerate-paragraphs {
      counter-reset: counter-info;
      .info-paragraph {
          h2 {
              &::before{
                  counter-increment: counter-info;
                  content: '\00a7' counter(counter-info)'. ';
              }
          }
      }
  }
  
  .info-paragraph {
      margin-bottom: 3rem;
  }