/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.location-wrapper {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    @include break--sm {
        grid-template-columns: 1fr 1fr;
    }
    grid-gap: 1rem;
}

.location-map {
    position: relative;
    padding-bottom: 75%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}