/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.icons-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.media-icon-wrapper {
    display: grid;
    margin: 3rem 5vw;
    flex: 1;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    align-self: start;
    p {
        margin-top: .3rem;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.media-icon {
    justify-self: center;
    display: -ms-grid;
    display: grid;
    max-width: 20vw;
    width: 150px;
    border-radius: 50%;
    img {
        justify-self: center;
        align-self: center;
        width: 100%;
        filter: drop-shadow(7px 7px 5px $brand-dark-a);
    }
}