/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.prices-wrapper {
    margin: 0 auto;
    max-width: 90vw;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    @include break--xs {
        -ms-grid-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    @include break--sm {
        -ms-grid-columns: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    @include break--xl {
        -ms-grid-columns: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
    }

}

.price {
    border: 2px solid $brand-primary;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    font-weight: bold;
    h4 {
        font-size: 2rem;
        text-transform: uppercase;
    }
    p {
        font-size: 1.2rem;
    }
}

.scratched {
    position: relative;
    color: #b22;
    font-size: 1.4rem;
    width: auto;
    display: inline-block;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 40%;
        left: -25%;
        border-top: 2px solid #b22a;
        width: 150%;
        -webkit-transform: rotate(-8deg);
            -ms-transform: rotate(-8deg);
                transform: rotate(-8deg)

    }
}

.note {
    text-align: center;
}

.media-icon {
    -ms-grid-column-align: center;
        justify-self: center;
    display: -ms-grid;
    display: grid;
    max-width: 20vw;
    width: 150px;
    border-radius: 50%;
    img {
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-filter: drop-shadow(7px 7px 5px $brand-dark-a);
                filter: drop-shadow(7px 7px 5px $brand-dark-a);
    }
}