/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.who-examples-wrapper {
    margin: 1rem auto 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    @include break--md {
        flex-direction: row;
    }
}

.who-example {
    max-width: 288px;
    margin: .7rem;
    text-align: center;
    svg, img {
        height: 100px;
        margin-bottom: 1em;
    }
}

.who-icon {
    margin: 0 auto;
    width: 150px;
    svg {
        fill: $brand-dark;
        opacity: .85;
        height: 100%;
        width: 100%;
        filter: drop-shadow(4px 4px 3px $brand-dark-a);
    }
}