/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.who-title {
}

.who-subtitle {
    font-size: .8rem;
    color: $brand-light;
    font-weight: 800;
}
.who-examples-wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 90vw;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.who-example {
    max-width: 300px;
    margin: 30px;
    text-align: center;
    img {
        height: 100px;
        margin: 1em;
    }
    h4 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.2rem;
        opacity: .8;
    }
}

.who-icon {
    margin: 0 auto;
    width: 150px;
    svg {
        height: 100%;
        width: 100%;
        -webkit-filter: drop-shadow(7px 7px 5px $brand-dark-a);
                filter: drop-shadow(7px 7px 5px $brand-dark-a);

    }
}