{% extends 'base_secondary.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-flexpage{% endblock %}

{% block extra_css %}
{% comment %} <link rel="stylesheet" href="{% static 'css/flex_page.css' %}"> {% endcomment %}
{% endblock extra_css %}

{% block page_title %}{{ self.title }}{% endblock page_title %}

{% block content %}
    {{ block.super }}


    {% block stream %}
    <main>
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}
    </main>
    {% endblock stream %}


{% endblock content %}
