{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}



{% load static %}

{% block body_class %}template-flexpage{% endblock %}

{% block extra_css %}
{% comment %} <link rel="stylesheet" href="{% static 'css/flex_page.css' %}"> {% endcomment %}
{% endblock extra_css %}

{% block content %}

    {% image self.header_image width-1200 as header_img%}    
    <header class="secondary-header">
        {% if header_img %}
        <div class="secondary-header__mask"></div>
        <div class="secondary-header__image" style="background-image: url(' {{header_img.url}}'); background-size: cover;">
        {% else %}
        <div class="secondary-header__solid">
        {% endif %}
            <h1>{{self.title}}</h1>
        </div>
    </header>
    {% block stream %}
    <main>
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}
    </main>
    
    {% endblock stream %}



{% endblock content %}
