{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}
    <header class="secondary-header">
        {% if self.header_image %}
        {% image self.header_image width-1200 as header_img%}    
        <div class="secondary-header__mask"></div>
        <div class="secondary-header__image" style="background-image: url(' {{header_img.url}}'); background-size: cover;">
        {% else %}
        <div class="secondary-header__solid">
        {% endif %}
        {% if form_submission %}
            <h1>{{page.submitted_title}}</h1>
        {% else %}
            <h1>{{page.title}}</h1>
        {% endif %}
        </div>
    </header>
    <main>
        <div class="c-wrapper--md">
        {% if form_submission %}
            <div class="richtext">
            {{ page.submitted_text|richtext }}
            </div>
        {% else %}
            <div class="richtext">
            {{ page.intro|richtext }}
            </div>
            <section class="checkout-form__wrapper">
            <div class="standard-form__body invoice-form__body">
                <form class="booking-form" action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">
                    <button class="standard-button standard-button--emphasis" type="submit">{% trans "Submit" %}</button>
                </form>
            </div>
            </section>
        {% endif %}
        </div>
    </main>

{% endblock content %}