{% extends 'base_secondary.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block page_title %}{{ page.title }}{% endblock page_title %}

{% block content %}
{{ block.super }}
    <main>
        <div class="c-wrapper--md">
        {% if form_submission %}
            <div class="richtext">
            {{ page.submitted_text|richtext }}
            </div>
        {% else %}
            <div class="richtext">
            {{ page.intro|richtext }}
            </div>
            <section class="checkout-form__wrapper">
            <div class="standard-form__body invoice-form__body">
                <form class="booking-form" action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">
                    <button class="standard-button standard-button--emphasis" type="submit">{% trans "Submit" %}</button>
                </form>
            </div>
            </section>
        {% endif %}
        </div>
    </main>

{% endblock content %}