/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.nav-wrapper {
    background: $brand-dark-e;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 95;
    font-weight: 500;
}

.nav-items {
    color: $brand-font-light;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    list-style: none;
    position: relative;
    overflow: hidden;
    height: 0;
}

.nav-items > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.nav-item_container {
    position: relative;
    height: 10vh;
    padding: 1rem;
    // display: -ms-grid;
    // display: grid;
    // -ms-flex-line-pack: center;
        // align-content: center;
    text-align: center;
    background: $brand-dark-d;
    overflow: hidden;
}




// .nav-link {
//     position: relative;
//     // width: 100%;
//     padding: .5rem;
//     -webkit-box-ordinal-group: 2;
//         -ms-flex-order: 1;
//             order: 1;
//     text-align: center;
//     -webkit-transition: height .2s;
//     -o-transition: height .2s;
//     transition: height .2s;
//     height: 100%;
//     display: inline;
// }
/*
 navbar logo
*/
.logo {
    position: absolute;
    left: 1rem;
    height: 96px;
    width: 150px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: hidden;
    z-index:  98;
    img {
        max-width: 33vw;
        left: 0;
    }
}

/*    
naw items toogle
*/

.nav-toggle-label {
    margin: 0 auto;
    position: relative;
    -ms-grid-column-align: center;
        justify-self: center;
    cursor: pointer;
    height: 96px;
    width: 96px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;

    span,
    span::after,
    span::before {
        display: block;
        background: $brand-light;
        height: 5px;
        width: 2em;
        border-radius: 5px;
        -webkit-transition: bottom 0.5s, top 0.5s, background 0.5s, -webkit-transform 0.5s;
        transition: bottom 0.5s, top 0.5s, background 0.5s, -webkit-transform 0.5s;
        -o-transition: transform 0.5s, bottom 0.5s, top 0.5s, background 0.5s;
        transition: transform 0.5s, bottom 0.5s, top 0.5s, background 0.5s;
        transition: transform 0.5s, bottom 0.5s, top 0.5s, background 0.5s, -webkit-transform 0.5s;
    }

    span::after,
    span::before {
        content: '';
        position: relative;
    }

    span::before {
        bottom: 15px;
    }
        
    span::after {
        top: 10px;
    }
}
    
.nav-toggle {
    // display: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0px auto;
    &:checked {
        & ~ .nav-toggle-label{
            span{
                background: transparent;
            }
            span::before{
                bottom: 0px;
                -webkit-transform: rotate(405deg);
                    -ms-transform: rotate(405deg);
                        transform: rotate(405deg);
            }
            span::after{
                top: -5px;
                -webkit-transform: rotate(-405deg);
                    -ms-transform: rotate(-405deg);
                        transform: rotate(-405deg);
            }
        }
        & ~ .nav-items {
            // & ~ .nav-item_container {
                    // background: white;
                height: auto;
                // padding: 1rem;
            }
        // }
    }
}   

@include break--md {
    .nav-toggle-label {
        display: none;
    
    }

    .nav-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: flex-wrap;
                flex-flow: flex-wrap;
        height: 100px;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        list-style: none;
        position: fixed;
        right: 0;
        width: calc(100% - 150px);
        z-index: 99;
        padding-right: 3rem;
        
    
        .nav-item_container {
            padding: 0;
            background: none;
            // height: 100%;
            width: 100%;
            line-height: 100px;
        }

        // .nav-item_book {
        //     position: absolute;
        //     right: 0;
        //     display: -ms-grid;
        //     display: grid;
        //     line-height: 100px;
        //     -ms-flex-line-pack: center;
        //         align-content: center;
        // }
    
        .nav-link {
            // background: none;
            overflow: visible;
        }

        li {
            position: relative;
            text-align: center;
        }
        a {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            text-transform: uppercase;
        }

        img {
            height: 50px;
        }
    }
    
    .nav-toggle {
        &:checked {
            & ~ .nav-item_container {
                height: 100%;
                padding: 0rem;
            }
        }
    }
}

.nav-toggle{
    display: none;
}


/*
 banner 
*/

.banner {
    display: flow-root;
    z-index: 98;
    background: $brand-primary;
    position: absolute;
    top: 100px;
    left: 10%;
    height: 200px;
    -webkit-box-shadow: inset 0 5px 12px $brand-dark;
            box-shadow: inset 0 5px 12px $brand-dark;
    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        position: absolute;
        z-index: 1;
    }
    &::before {
        border-right: 101px solid $brand-primary;
        bottom: -50px;
    }
    &::after {
        border-left: 101px solid $brand-primary;
        bottom: -50px;
        right: 0;
    }   width: 200px;
}

.banner-inner {
    color: $brand-secondary;
    position: absolute;
    border-left: 3px dashed $brand-secondary;
    border-right: 3px dashed $brand-secondary;
    height: calc(100% - 1rem);
    margin: .5rem;
    padding: 1rem;
    text-align: center;
    z-index: 3;
    p {
        font-weight: bold;
    }
    &::before,
    &::after {
        content: '';
        border-bottom: 3px dashed $brand-secondary;
        display: block;
        height: 2px;
        width: 48%;
        position: absolute;
        bottom: -25px;
    z-index: 2;
    }
    &::before {
        left: 4px;
        -webkit-transform: skewY(25deg);
            -ms-transform: skewY(25deg);
                transform: skewY(25deg);
    }
    &::after {
        right: 4px;
        -webkit-transform: skewY(-25deg);
            -ms-transform: skewY(-25deg);
                transform: skewY(-25deg);
    }
    a {
        display: block;
        width: 100%;
        line-height: 1em;
        text-shadow: none;
        margin: .5rem auto;
        &:hover {
            background: $brand-secondary;
        }
    }
}