.s-tac {
    text-align: center;
}

.s-tar {
    text-align: right;
}

.s-m0a {
    margin: 0 auto;
}

.u-visually-hidden {
    display: none;
}

.s-cgreen {
    color: green;
}

.s-cred {
    color: red;
}