@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }


.cookie-bar {
    opacity: .95;
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 1rem 2rem;
    z-index: 99;
    line-height: 24px;
    color: $brand-light;
    background: #ba4a00;
    background: $brand-secondary;
    bottom: 0;
    animation: 2s ease-out 0s slideInFromBottom;
    p {
        font-size: $font--sm--sharp;
    }
    .cookie-bar__buttons {
        display: block;
        a {
            font-size: $font--sm--sharp;
            margin: .4rem;
            border-radius: 3px;
            display: inline-block;
            padding: .2rem .3rem;
            box-shadow: 2px 2px 4px black;
            background: $brand-secondary;
            text-decoration: none;
            &:hover {
                background: $brand-emphasis;
            }
        }

        a:first-child {
            background: $brand-primary;
            color: $brand-dark;
            padding: .2rem 2rem;
            &:hover {
                background: $brand-emphasis;
            }
        }
        a:last-child {
            @include break--ss--reversed{
                display: none;
            }
        }
    }
}



.cookie-group {
    margin: 2rem 0;
    .cookie-group-title {
        h3 {
            margin-bottom: 0.8rem;
        }
        margin: 1rem 0;
        gap: 1rem;
        .cookie-group-form {
            display: flex;
            .cookie-consent-accept,
            .cookie-consent-decline {
                input {
                    padding: .5rem 1rem;
                    background: gray;
                    color: $brand-light;
                    &:hover {
                        background: lightgray;
                        cursor: pointer;
                    }
                }
            }
            .cookie-consent-accepted,
            .cookie-consent-declined {
                padding: .5rem 1rem;
            }
        }
    }
    p {
        margin-bottom: 1rem;
    }
    table {
        tr {
            th {
                padding: .8rem;
            }
            td {
                padding: .8rem;
                width: 100%;
            }
        }
        tr:nth-child(odd) {
            background: #eee;
        }
    }
}