footer {
    padding: 6rem 3rem 2rem;
    background: $brand-secondary;
    color: $brand-light;
    h2 {
        font-size: $font--lg;
        font-family: sans-serif;
    }
}

.footer-content {
    overflow: hidden;
    max-width: $width--md;
    margin: 0 auto;
}


[class^="footer-section"]{
    a{
        color: inherit;
        &:hover{
            text-decoration: underline;
            background: none;
        }
    }
}

.footer__links {
    margin: 2rem auto;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    li {
        margin: 1rem;
    }
}

.footer__social__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer__social__icon {
    margin: 0 1rem;
    svg {
        height: 50px;
        width: 50px;
        fill: $brand-light;
        &:hover {
            fill: $brand-primary;
            filter: drop-shadow(0 0 2px $brand-primary-8);
        }
    }
}

.footer__info {
    text-align: center;
    margin-top: 2rem;
    line-height: 2rem;
    span {
        white-space: nowrap;
    }
    div {
        display: inline-block;
    }
    a {
        &:hover {
            color: $brand-primary;
        }
    }
}

.footer__copyright{
    text-align: center;
    margin: 1rem auto;
}
