/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.standard-form {
  background: #ddd;
  border-radius: 0.3rem;
  -webkit-box-shadow: 3px 3px 8px $brand-dark;
  box-shadow: 3px 3px 8px $brand-dark;
  overflow: hidden;
  width: 100%;
  p {
    label {
      display: block;
      width: 100%;
      margin-bottom: 0.2rem;
    }
    select {
      display: block;
      width: 100%;
      padding: 0.8rem;
      border-radius: 0.3rem;
    }
  }
  input,
  textarea {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem auto;
    border-radius: 0.3rem;
  }
}

.standard-form__header {
  background: $brand-primary;
  color: $brand-light;
  min-height: 30px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  span {
    text-transform: uppercase;
  }
}

.standard-form__body {
  padding: 1rem;
}
.standard-form__buttons {
  margin: 2rem auto;
}

.standard-button {
  display: block;
  background: $brand-light;
  -webkit-transition: all $t--quick;
  -o-transition: all $t--quick;
  transition: all $t--quick;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.standard-button--emphasis {
  background: $brand-primary;
  color: $brand-light;
}

.standard-button--secondary {
  background: $brand-secondary;
}

.booking-form__slot-info {
  text-align: center;
  margin: 3rem 0 1rem;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  width: 100%;
  background: $brand-light;
}

.checkout-form__wrapper {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background: $brand-secondary-1;
  max-width: $width--lg;
}

.redeem-form__body {
  p {
    width: 100%;
    height: 2rem;
    input {
      width: calc(100% - 130px);
      height: 100%;
    }
    button {
      height: 100%;
      width: 120px;
      background: $brand-primary;
      color: $brand-light;
      &:hover {
        background: $brand-primary-8;
        cursor: pointer;
      }
    }
  }
}

.invoice-form__body {
  p {
    label {
      margin-bottom: 0.2rem;
    }
    select {
      display: block;
      width: 100%;
      padding: 0.8rem;
      border-radius: 0.3rem;
    }
    input {
      &[type="text"],
      &[type="email"] {
        width: 100%;
        padding: 0.8rem;
        margin: 0.5rem auto;
        border-radius: 0.3rem;
      }
    }
    textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      display: block;
    }
  }
  ul {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  li {
    line-height: 1.8em;
  }
}

label {
  &.required {
    &::after {
      content: "*";
      color: red;
    }
  }
}

.form-remove__table {
  width: 100%;
  margin: 1rem auto;
  border-top: 2px solid $brand-dark-1;
  tbody {
    tr {
      height: 3rem;
      border-bottom: 2px solid $brand-dark-1;
    }
  }
  tfoot {
    line-height: 1.8em;
  }
}

.remove-button {
  position: relative;
  display: block;
  float: right;
  height: 20px;
  width: 20px;
  background: none;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    background: red;
    width: 100%;
    height: 3px;
    top: 50%;
    left: 50%;
  }
  &::before {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(45deg);
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
  }
  &::after {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  }
}

.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  li {
    background: $brand_secondary_c;
  }
  span {
    display: block;
    color: $brand_light;
    padding: 0.5rem 48px 0.5rem 48px;
    text-align: center;
    border-radius: 3px;
    min-width: 150px;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      height: 28px;
      width: 28px;
      border-radius: 50%;
      border: 3px solid $brand-light-3;
    }
  }
  input {
    display: none;
    &:checked + span {
      &::before {
        content: "✔";
        background: $brand-primary;
      }
    }
    &:hover + span {
      cursor: pointer;
      &::before {
        content: "✔";
      }
    }
  }
  @include break--sm {
    flex-direction: row;
  }
}
