.header--small {
  position: relative;
  height: 350px;
  background: $brand-secondary;
  text-align: center;
  h1,
  h2 {
    position: absolute;
    line-height: 250px;
    width: 100%;
    top: 100px;
    color: $brand-light;

  }
}

.header__mask {
  position: absolute;
  display: block;
  width:  100%;
  height: 100%;
  background-position: center;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(127, 127, 127, 0.2);
    background-image: radial-gradient($brand-dark 2%, transparent 80%);
    background-size: 4px 4px;
  }
}

.header-nav-spacer {
  position: relative;
  height: 72px;
}

.main-header {
  position: relative;
  min-height: 600px;
  max-height: 100vh;
  height: 60vw;
  min-width: 100%;
  align-items: center;
  color: $brand-light;
  background-image: url(../img/photos/escape-room-lock.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // background-size: 100%;
  // background-attachment: fixed;

  top: 0;
  left: 0;
  background-color: $brand-dark;
  overflow: hidden;
  // z-index: 0;
  box-shadow: inset 0 0 200px black;
}

.header-overlay {
  position: absolute;
  z-index: .1;
}

.overlay-bottom {
  height: 25%;
  width: 100%;
  background: linear-gradient(transparent, $brand-dark 80%);
  bottom: 0;
}



/*
Main header
*/

.main-header-title-container{
  position: relative;
  top: 50%;
  z-index: 3;
  display: grid;
  align-content: center;
  justify-content: center;
  transform: translateY(-50%);
}

.main-header-title {
      align-self: center;
  h1 {
    color: white;
    text-shadow: 0 0 8px black;
    line-height: 0;
  }
}
.main-header-breakout {
  display: block;
  font-size: responsive 36px 96px;
  font-range: 420px 1200px;
  line-height: 1em;

}
.main-header-augsburg {
  font-size: responsive 20px 40px;
  font-range: 420px 650px;
  line-height: .2em;
  display: inline-block;
  float: right;
  }


/*
 banner 
*/

.banner {
  @include break--lg {
    // display: flow-root;
  }
  display: none;
  z-index: 91;
  background: $brand-primary;
  position: absolute;
  top: 72px;
  left: 8vw;
  height: 200px;
  box-shadow: inset 0 5px 12px $brand-dark;
  &::before,
  &::after {
      content: '';
      display: block;
      height: 0;
      width: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      position: absolute;
      z-index: 1;
  }
  &::before {
      border-right: 101px solid $brand-primary;
      bottom: -50px;
  }
  &::after {
      border-left: 101px solid $brand-primary;
      bottom: -50px;
      right: 0;
  }   width: 200px;
}

.banner-inner {
  color: $brand-dark;
  position: absolute;
  border-left: 3px dashed $brand-secondary-2;
  border-right: 3px dashed $brand-secondary-2;
  height: calc(100% - 1rem);
  margin: .5rem;
  padding: .5rem;
  text-align: center;
  z-index: 3;
  p {
      font-size: medium;
      font-weight: bold;
  }
  &::before,
  &::after {
      content: '';
      border-bottom: 3px dashed $brand-secondary;
      display: block;
      height: 2px;
      width: 48%;
      position: absolute;
      bottom: -25px;
  z-index: 2;
  }
  &::before {
      left: 4px;
      transform: skewY(25deg);
  }
  &::after {
      right: 4px;
      transform: skewY(-25deg);
  }
  a {
      padding: .5rem;
      display: block;
      width: 100%;
      line-height: 1em;
      text-shadow: none;
      margin: .5rem auto;
  }
}
