{% if self.is_section %}
<section
{% else %}
<div
{% endif %}
class="element__wrapper {% block element_class %}{% endblock element_class %} {% if self.is_section %}c-section{% endif %}" 
style="
    {% if self.style.bg_colour %}background: #{{self.style.bg_colour}};{% endif %}
    {% if self.style.font_colour %}color: #{{self.style.font_colour}};{% endif %}
    {% if self.style.shadow == 0 %}box-shadow: none; -webkit-box-shadow: none;{% endif %}
    {% if self.style.shadow %}box-shadow: 2px 2px {{self.style.shadow}}px #111111aa; -webkit-box-shadow: 2px 2px {{self.style.shadow}}px #111111aa{% endif %}
    {% if self.style.max_width_outer %}max-width: {{ self.style.max_width_outer }}px;
    margin: 0 auto;
    {% endif %}
    {% block extra_style %}
    
    {% endblock extra_style %}
">

{% if self.style.max_width_inner %}
<div
class="element__inner"
style="
    max-width: {{ self.style.max_width_inner }}px;
    margin: 0 auto;
"
>
{% endif %}
    {% block element_content %}
    {% endblock element_content %}
    {% block inner %}{% endblock inner %}
{% if self.style.max_width_inner %}
</div>
{% endif %}

{% if self.is_section %}
</section>
{% else %}
</div>
{% endif %}