{% load wagtailcore_tags wagtailimages_tags %}
<div class="card-horizontal__wrapper">
{% for block in self.cards %}
  <div class="card-horizontal {% if block.reverse %}card-horizontal-reverse{% endif %}">
    <div class="card-horizontal__head">
          {% image block.image fill-650x400  as card_image %}
        <img src="{{card_image.url}}" alt="{{ block.title}} photo"> 
      {% comment %} <ul class="details">
        <li class="author"><a href="#">John Doe</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
        </li>
      </ul> {% endcomment %}
    </div>
    <div class="card-horizontal__content">
      <p class="font--lg">{{ block.title }}</h1>
      <p class="font--md">{{ block.subtitle }}</h2>
      <p class="card-hor__content__text font--sm">{{ block.text }}</p>
      {% if block.link_text %}
      <p class="read-more">
        <a 
        href="{% if block.link_page %}{{block.link_page.url}}{% elif block.link_url %} {{block.link_url}}{% endif %}" 
        class="button button--primary">{{ block.link_text }}
        </a>
      </p>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
