{% load wagtailcore_tags wagtailimages_tags %}

<div class="block_gallery">
    {% for image in self.gallery %}
    {% image image.image fill-400x300 as img%}
    <label for="image{{forloop.counter}}">
        <input id="image{{forloop.counter}}" class="u-visually-hidden" type="checkbox">
        <span class="image_mask">
            <span class="image_wrapper">
                <img alt="{{image.alt_text}}" src="{{img.url}}" loading="lazy">
            </span>
        </span>
    </label>
    {% endfor %}
</div>