{% load wagtailcore_tags wagtailimages_tags %}
<div class="container">
    <div class="row gx-5 gy-5 justify-content-center">

        {% for block in self.cards %}
        <div class="col-sm-6 col-md-4 offercard">
            <div class="card p-3">

                <div class="row justify-content-center">
            {% comment %} <div class="col offercard__head__background rounded-circle d-flex w-75"> {% endcomment %}
                    <div class="offercard__head rounded-circle svg-fill-primary">
                        {{block.icon}}
                    </div>
                </div>
                <div class="offercard__body text-center mt-3">
                    <h3 class="text-secondary fs-5">{{ block.title }}</h3>
                    <p class="fs-6">
                    {{ block.text }}
                    </p>
                    <div class="d-flex justify-content-center">
                        {% include_block block.link %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div> 

</div>
