{% load wagtailcore_tags wagtailimages_tags %}

{% if self.title.uri_fragment %}<span id="{{ self.title.uri_fragment }}" class="c-section-id-offset"></span>{% endif %}
{% if self.title.subtitle %}
<{% if self.title.title_level %}{{ self.title.title_level }}{% else %}h2{% endif %}
class="
{% if self.title.decorate_title %} section-block-title--decorated {% endif %}
{% if self.title.center_title%} tac {% endif %}
"
style="
{% if self.title.title_colour %}color: #{{ self.title.title_colour }};{% endif %}
"
>
{{ self.title.subtitle }}
</{% if self.title.title_level %}{{ self.title.title_level }}{% else %}h2{% endif %}>
{% endif %}
{% if self.richtext %}
<div class="richtext">
{{ self.richtext|richtext}}
</div>
{% endif %}