/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


.bgimg--placeholder {
    background-image: url("/static/img/placeholder.jpg");
}

.bgimg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

