/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.bgimg--placeholder {
  background-image: url("/static/img/placeholder.jpg"); }

.bgimg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@font-face {
  font-family: 'breakout';
  src: url("../fonts/capture_it/capture_it.woff2") format("woff2"), url("../fonts/capture_it/capture_it.woff") format("woff"), url("../fonts/capture_it/capture_it.ttf") format("truetype"); }

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@-webkit-keyframes pulse-primary {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(171, 202, 68, 0.88);
    box-shadow: 0 0 0 0px rgba(171, 202, 68, 0.88); }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(171, 202, 68, 0.05);
    box-shadow: 0 0 0 10px rgba(171, 202, 68, 0.05); }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(171, 202, 68, 0.05);
    box-shadow: 0 0 0 10px rgba(171, 202, 68, 0.05); } }

@keyframes pulse-primary {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(171, 202, 68, 0.88);
    box-shadow: 0 0 0 0px rgba(171, 202, 68, 0.88); }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(171, 202, 68, 0.05);
    box-shadow: 0 0 0 10px rgba(171, 202, 68, 0.05); }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(171, 202, 68, 0.05);
    box-shadow: 0 0 0 10px rgba(171, 202, 68, 0.05); } }

@-webkit-keyframes pulse-secondary {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(80, 80, 84, 0.88);
    box-shadow: 0 0 0 0px rgba(80, 80, 84, 0.88); }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(80, 80, 84, 0.05);
    box-shadow: 0 0 0 10px rgba(80, 80, 84, 0.05); }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(80, 80, 84, 0.05);
    box-shadow: 0 0 0 10px rgba(80, 80, 84, 0.05); } }

@keyframes pulse-secondary {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(80, 80, 84, 0.88);
    box-shadow: 0 0 0 0px rgba(80, 80, 84, 0.88); }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(80, 80, 84, 0.05);
    box-shadow: 0 0 0 10px rgba(80, 80, 84, 0.05); }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(80, 80, 84, 0.05);
    box-shadow: 0 0 0 10px rgba(80, 80, 84, 0.05); } }

@-webkit-keyframes pulse-light {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.52);
    box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.52); }
  50% {
    -webkit-box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.88);
    box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.88); }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.11);
    box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.11); } }

@keyframes pulse-light {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.52);
    box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.52); }
  50% {
    -webkit-box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.88);
    box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.88); }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.11);
    box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.11); } }

@-webkit-keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.change-slot-response {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh; }

.change-slot-mask {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(80, 80, 84, 0.23);
  position: absolute;
  z-index: 7; }

.change-slot-wrapper {
  z-index: 8;
  border-radius: 4px;
  background: rgba(250, 250, 250, 0.76);
  -webkit-box-shadow: 3px 3px 8px black;
          box-shadow: 3px 3px 8px black;
  position: absolute;
  max-width: 500px;
  right: 50%;
  bottom: 50%;
  overflow: hidden;
  -webkit-transform: translateX(50%) translateY(50%);
          transform: translateX(50%) translateY(50%); }

.change-slot-current {
  padding: 1rem;
  background: lightgray; }

.change-slot-available {
  height: 500px;
  padding: 1rem;
  background: white; }
  .change-slot-available ul {
    overflow-y: scroll;
    height: 400px;
    margin: 0 auto; }
    .change-slot-available ul li {
      list-style-type: none; }
      .change-slot-available ul li button {
        text-align: right;
        width: 100%; }

.admin-content {
  position: relative;
  padding: 1rem; }

.filters {
  padding-bottom: 1rem; }
  .filters form ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .filters form ul li {
      max-width: 300px; }
      .filters form ul li label {
        width: 100%; }
  .filters form .button {
    display: block; }

.admin-table {
  width: 100%; }
  .admin-table th {
    text-align: left;
    padding: 1rem; }
  .admin-table tr {
    border-top: 1px dashed #e6e6e6; }
    .admin-table tr td {
      padding: .6rem 1rem; }

.admin-form_as_table th {
  padding: .1px;
  display: inline-block;
  width: 100%; }
  .admin-form_as_table th label {
    padding: .3px;
    width: 100%; }

.admin-form_as_table td {
  display: inline-block;
  width: 100%;
  padding: .1px; }
  .admin-form_as_table td input {
    padding: 6px; }

@media only screen and (min-width: 768px) {
  .admin-form_as_table th {
    display: table-cell;
    width: auto; }
  .admin-form_as_table td {
    display: table-cell;
    width: auto; } }

.hover-info {
  display: block;
  height: 100%;
  width: 100%;
  position: relative; }
  .hover-info .hover-info__list {
    display: none; }
  .hover-info:hover .hover-info__list {
    display: block; }

.hover-info__list {
  top: 0;
  padding: 1rem;
  background: white;
  min-width: 300px;
  position: absolute;
  -webkit-box-shadow: 3px 3px 8px black;
          box-shadow: 3px 3px 8px black;
  border-radius: 4px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 9; }
  .hover-info__list li {
    list-style-type: none; }
    .hover-info__list li button {
      display: block;
      width: 100%; }

button {
  padding: .5rem 1rem;
  min-width: 100px; }
  button:hover {
    background: lightblue;
    cursor: pointer; }
