$brand-primary:             #465054;
$brand-primary-light:       #99bcdc;
$brand-secondary:           #d7ae00;
$brand-secondary-dark:      #9b8d71;
$brand-light:               #fafafa;
$brand-dark:                #465054;
$font-light:                #fafafa;   
$font-dark:                 #465054;
$font-primary:              #455054;
$font-secondary:            #a87001;
$brand-contrast:           #000;

$green-alert:               #0fac0f;
$green-light:               #0fac0f60;
$red-alert:               #be1e1e;
$red-light:               #be1e1e60;


$fonts: "Proxima-Nova", Helvetica, sans-serif; // GF Quicksand 
