@keyframes slideInFromRight {
    0% {
        
      transform: translateX(100%) translateY(-50%);
    }
    50% {
      transform: translateX(100%) translateY(-50%);
    }
    100% {
      transform: translateX(0) translateY(-50%);
    }
  }

.corona-banner {
    background: $brand-primary;
    position: fixed;
    top: 50vh;
    right: 0;
    transform: translateY(-50%);
    animation: 1s ease-out 0s slideInFromRight;
    z-index: 11;
    opacity: .85;
    input {
        display: none;
        &:checked {
            &~label,
            &~a {
                display: none;
            }
        }
    }
    label   {
        display: block;
        background: $brand-secondary;
        color: $brand-primary;
        width: 100%;
        text-align: center;
        padding: .5rem;
        font-size: 20px;
        &:hover {
            background: $brand-light;
            cursor: pointer;
        }
    }
    .corona-info {
        text-align: center;
        max-width: 120px;

        p {
            font-size: $font--sm;
            text-align: center;
            // text-orientation: upright;
            // writing-mode: vertical-lr;
            margin: 0 auto;
            padding: .5rem;
            // line-height: .5em;
        }
        .corona-icon {
            padding: .5rem;
            svg {
                width: 32px;
                height: 32px;
                path {
                    fill: $brand-secondary;
                }
            }
        }
    }
    &:hover {
        opacity: 1;
    }
}