/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.c-page-header {
    height: 75vh;
    position: relative;
    overflow: hidden;
    img{
        opacity: 0.8;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: 50% 30%;
           object-position: 50% 30%;
    }
}

.c-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.c-small-page-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 5px 8px $brand-dark;
            box-shadow: 0 5px 8px $brand-dark; 
    height: calc(100px + 30vh);
    padding-top: 100px;
    position: relative;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: $brand-dark-e;
    color: $brand-light;
    width: 100%;
    overflow: hidden;
    z-index: 5;
    h1 {
        display: inline;
        max-width: 100%;
        word-wrap: break-word;
    }
}


.c-page-header-darken{
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.c-section-title {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem auto;
    overflow: hidden;

    &::after,
    &::before {
        content: '';
        border-top: 5px solid $brand-primary;
    }
    &::before{
        margin-right: .5em;
    }
    &::after{
        margin-left: .5em;
    }
}


.c-subpage-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.c-id-offset{
    display: block;
    position: absolute;
    top: -75px;
}

.c-hidden{
 display: none;
}

.c-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    @include break--sm {
        font-size: 2.5rem;
    }
}

.c-title-left {
    text-align: left;
}

.c-title-space {
    font-family: $fonts-space;
}

.c-title-lower {
    text-transform: none;
}


.c-title-lg {
    font-size: 2rem;
    @include break--xs {
        font-size: 2.4rem;
    }
    @include break--sm {
        font-size: 3rem;
    }
}

.c-title-md {
    font-size: 1.4rem;
    @include break--xs {
        font-size: 1.8rem;
    }
    @include break--sm {
        font-size: 2rem;
    }
}

.c-title-sm {
    font-size: 1.2rem;
    @include break--xs {
        font-size: 1.4rem;
    }
    @include break--sm{
        font-size: 1.8rem;
    }
}

.c-title-xs {
    font-size: 1rem;
    @include break--xs {
        font-size: 1.1rem;
    }

    @include break--sm{
        font-size: 1.2rem;
    }
}

.c-text-sm {
    font-size: 0.8rem;
    @include break--xs {
        font-size: 0.9rem;
    }
    @include break--sm {
        font-size: 1rem;
    }
}

.c-text-md {
    font-size: 1rem;
    @include break--xs {
        font-size: 1.1rem;
    }
    @include break--sm {
        font-size: 1.2rem;
    }
}

.c-text-lg {
    font-size: 1.2rem;
    @include break--xs {
        font-size: 1.3rem;
    }
    @include break--sm {
        font-size: 1.5rem;
    }
}

.c-color-light {
    color: $brand-light;
}

.c-color-dark {
    color: $brand-dark;
}

.c-color-primary {
    color: $brand-primary;
}

.c-color-secondary {
    color: $brand-secondary;
}

.c-background-light {
    background: $brand-light;
}

.c-background-dark {
    background: $brand-dark;
}

.c-background-primary {
    background: $brand-primary;
}

.c-background-secondary {
    background: $brand-secondary;
}

