{% extends "base_secondary.html" %}
{% load wagtailcore_tags static %}


{% comment %} <link rel="preload" href="{% static 'css/bs5/bootstrap.min.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'"> {% endcomment %}
{% comment %} <noscript><link rel="stylesheet" href="{% static 'css/bs5/bootstrap.min.css' %}"></noscript> {% endcomment %}


{% block extra_js %}
{% comment %} <script defer src="{% static 'js/bs5/bootstrap.min.js' %}"></script> {% endcomment %}
{% endblock extra_js %}