body {
  margin: 0;
}

.email-base {
  background: #dedede;
  width: 100%;
  min-height: 100%;
  font-family: "Open Sans";
}

.email-main {
  width: 450px;
}

.email-header {
  width: 450px;
  background: #abca44;
  padding: 16px;
  text-align: center;
}

.email-body {
  width: 450px;
  background: #fffffa;
  color: #333;
  padding: 16px;
}

.email-footer {
  width: 100%;
  font-size: 12px;
  color: #777;
  padding-top: 16px;
  text-align: center;
}

.email-title {
  color: #fffffa;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
}

h2 {
  font-size: 24px; 
}

.email-table {
  border: 1px solid #ccc;
  width: 100%;
}

.email-cell {
  border: 1px solid #ccc;
  padding: 8px;
}

.email-border-top-broad {
  border-top: 4px solid #ccc;
}

.c-top-wide {
  border-width: 4px 1px 1px;
}

.c-center {
  text-align: center;
}

.c-right {
  text-align: right;
}