{% load i18n %}
<table>
    <tr class="available-slots-response">
        <td colspan="7">
            <div class="p-3 bg-light">
                <div class="text-center">
                    <h2>{{slots.0.start|date}}</h2>
                    <span class="fs-5">{% trans "Choose a time slot to book" %}</span> 
                </div>
                {% for slot in slots %}
                {% if slot.is_available %}
                <button 
                    data-slot="{{slot.pk}}"
                    data-bookingurl="{% url 'booking:ajax_slot_booking' %}"
                    class="js-available-slot w-100 btn btn-primary rounded-0 my-1 p-2 text-light fs-4"
                >
                {{ slot.start|date:"H:i" }} - {{ slot.end|date:"H:i" }} |
                <span class="fs-6 {% if slot.discount %}text-bg-warning {% else %}text-bg-light {% endif %} rounded-pill p-1">
                  {% trans "from" %}
                  {{ slot.from_price|floatformat:0 }}
                  €
                </span>
                </button> 
                {% else %}
                <div class="w-100 btn btn-secondary disabled rounded-0 my-1 p-2 fs-5">
                {{ slot.start|date:"H:i" }} - {{ slot.end|date:"H:i" }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </td>
    </tr>
</table>