
{% load i18n %}
<div id="js-coupons-in-cart" class="">
{% if messages %}
    <div class="js-coupon-messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }} <span class="message__close-message" onclick="removeMessage(this)"></span> </div>
        {% endfor %}
    </div>
{% endif %}
{% if cart.cart_coupons.all.count > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Coupon" %}</th>
            <th>{% trans "Value" %}</th>
            <th class="text-end">{% trans "Remove" %}</th>
        </tr>
    </thead>
    {% for cart_coupon in cart.cart_coupons.all %}
    <tbody>

        <tr>
            <td>{{cart_coupon.coupon.code}}</td>
            {% if cart_coupon.discount > 0 %}
            <td class="text-success">
            -€{{cart_coupon.discount}}
            {% else %}
            <td class="text-success">
            {% trans "Coupon not applicable to your cart" %}
            {% endif %}
            </td>
            
            <td>
                <button 
                data-removecouponurl="{% url 'booking:ajax_remove_coupon' %}"
                data-cart="{{cart.pk}}"
                data-coupon="{{cart_coupon.pk}}"
                class="remove-button btn"
                onclick="removeCoupon(this)"
                type="submit"></button> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>

    </tfoot>
</table>
{% endif %}
</div>
