{% load i18n %}
{% load bootstrap5 %}
<form action="{% url 'booking:slot_to_cart' %}" method="post">
    {% csrf_token %}
    {{ slot_booking_form.slot_id.as_hidden }}
    {% bootstrap_field slot_booking_form.product%}
    <div class="row">
        <div class="col-6">
            <button class="btn btn-light w-100 js-close-onclick" >{% trans "Cancel" %}</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary w-100" type="submit">{% trans "To Checkout" %}</button> 
        </div>
    </div>
</form>