{% load i18n %}
<form
    onchange="changeInCheckoutForm()"
    data-url="{% url 'booking:ajax_checkout_buttons' %}"
    action="{% url 'booking:purchase' %}"
    method="post"
    id="js-checkout-form">
    {% csrf_token %}

    <p>
        {{ invoice_form.full_name.label_tag }}
        {{ invoice_form.full_name.errors}}
        {{ invoice_form.full_name }}
    </p>
    <p>
        {{ invoice_form.phone.label_tag }}
        {{ invoice_form.phone.errors}}
        {{ invoice_form.phone }}
    </p>
    <p>
        {{ invoice_form.email.label_tag }}
        {{ invoice_form.email.errors}}
        {{ invoice_form.email }}
    </p>
    <p>
    {{invoice_form.payment.label_tag}}
    </p>
    <ul id="id_payment" class="payment-methods">
        {{invoice_form.payment.queryset}}
        {% for choice in invoice_form.payment.field.queryset %}
            <li>
                <label for="id_payment_{{choice.id}}">
                    <input id="id_payment_{{ choice.id }}" value="{{choice.id}}" type="radio" name="payment" required=""> 
                    <span>{{choice.name}}</span>
                </label>
            </li>
        
        {% endfor %}
    </ul>
    <p>
        {{ invoice_form.is_terms.label_tag }}
        {{ invoice_form.is_terms.errors}}
        {{ invoice_form.is_terms }}
    </p>
    <p>
        {{ invoice_form.is_privacy.label_tag }}
        {{ invoice_form.is_privacy.errors}}
        {{ invoice_form.is_privacy }}
    </p>

    {% comment %} {{invoice_form.as_p}} {% endcomment %}
    <div class="standard-form__buttons" id='js-checkout-button-div'>
        <div id="js-disabled-button" 
            class="c-anchor-disabled checkout-button--disabled"
            data-msgfill="{% trans "Please fill in all the fields marked with an * in order to continue" %}"
            data-msgemail="{% trans "Please enter a valid email address" %}"
            data-msgpayment="{% trans "Please select a payment method" %}"
            data-msgwait="{% trans "Please wait a few seconds..." %}"
            data-msgterms="{% trans "In order to continue you have to agree with our terms and conditions" %}">
        </div>
    </div>
</form>