{% load i18n %}
{% load bootstrap5 %}
<form
    onchange="changeInCheckoutForm()"
    data-url="{% url 'booking:ajax_checkout_buttons' %}"
    action="{% url 'booking:purchase' %}"
    method="post"
    id="js-checkout-form">
    {% csrf_token %}
    {% bootstrap_field invoice_form.full_name %}
    {% bootstrap_field invoice_form.phone %}
    {% bootstrap_field invoice_form.email %}
    {% bootstrap_field invoice_form.payment form_check_class='form-check-inline' %}
    <p>
        {% trans "Please read Breakout Escape Room's " %}
        <a class="link-info text-decoration-underline" target="_blank" href="/privacy-policy">{% trans "Privacy Policy" %}</a>
        {% trans "and" %}
        <a class="link-info text-decoration-underline" taget="_blank" href="/terms-and-conditions">{% trans "Terms and Conditions" %}</a>
    </p>

    {% bootstrap_field invoice_form.is_terms %}
    {% bootstrap_field invoice_form.is_privacy %}

    <div id='js-checkout-button-div'>
        <div id="js-disabled-button" 
            class="btn btn-secondary disabled w-100"
            data-msgfill="{% trans "Please fill in the form to continue" %}"
            data-msgemail="{% trans "Please enter a valid email address" %}"
            data-msgpayment="{% trans "Please select a payment method" %}"
            data-msgwait="{% trans "Please wait a few seconds..." %}"
            data-msgterms="{% trans "Please accept our terms and conditions" %}">
        </div>
    </div>
</form>