{% load i18n %}
{% load bootstrap5 %}
<form action="javascript:void(0);">
    {% url 'booking:ajax_apply_coupon' as btn_url %}
    {% trans "Redeem" as btntxt %}
    {% with btntype='type="" '  %}
    {% with btnurl='data-applycouponurl="'|add:btn_url|add:'" '  %}
    {% with btnclass='class="btn btn-primary rounded-0" '  %}
    {% with btnid='id="js-apply-coupon-button" '  %}
    {% with btnonclick='onclick="applyCoupon()" '  %}
    {% with redeem_button='<button '|add:btntype|add:btnclass|add:btnid|add:btnonclick|add:'>'|add:btntxt|add:'</button>'  %}
    {% bootstrap_field apply_coupon_form.code show_label=False addon_after=redeem_button addon_after_class=None %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
</form>
