{% load static %}
{% load i18n %}
<div class="container">
    <div class="row gy-5 justify-content-center">
        <div class="col-9 col-md-7 col-lg-4">
            <div class="px-4 py-5 shadow text-secondary h-100 bg-light">
                <div class="svg-fill-secondary w-25 m-auto">
                    {% include 'svg/cp-via_email.svg' %}
                </div>
                <div class="my-2 fw-bold text-center">
                    <h3 class="h5">{% trans "Online coupon" %}</h3>
                    <hr class="my-2 border border-light "/>
                    <br>
                </div>
                <form class="coupon_form d-flex flex-column w-100" action="{% url 'booking:add_product' %}" method="POST">
                    {% csrf_token %}
                    {% if online_coupon_form %}
                        {{online_coupon_form.product}}
                    {% else %}
                        [register coupon-online in product family]
                    {% endif %}
                    <button class="my-2 btn btn-primary rounded-0" type="submit">{% trans "Add to cart" %}</button> 
                </form>


                <div class="stepper d-flex flex-column mt-5 ml-2">
                    
                    <div class="d-flex mb-1">
                      <div class="d-flex flex-column pr-4 align-items-center">
                        <div class="step bg-primary text-light mt-1"></div>
                        <div class="line h-100"></div>
                      </div>
                      <div class="d-flex flex-column align-items-center text-center w-100 me-4 ">
                        <span class="coupon-step_icon svg-fill-secondary">
                            {% include 'svg/cp-order_online.svg' %}
                        </span>
                        <br>
                        <p class="h6">
                            {% trans "Order online" %}
                        </p>
                      </div>
                      
                    </div>
                    <div class="d-flex mb-1">
                      <div class="d-flex flex-column pr-4 align-items-center">
                        <div class="step bg-primary text-light mt-1"></div>
                        <div class="line h-100"></div>
                      </div>
                      <div class="d-flex flex-column align-items-center text-center w-100 me-4 ">
                        <span class="coupon-step_icon svg-fill-secondary">
                            {% include 'svg/cp-code.svg' %}
                        </span>
                        <br>
                        <p class="h6">
                            {% trans "Immediately get your coupon code" %}
                        </p>
                      </div>
                    </div>
                    <div class="d-flex mb-1">
                      <div class="d-flex flex-column pr-4 align-items-center">
                        <div class="step bg-primary text-light mt-1"></div>
                        <div class="line h-100 d-none"></div>
                      </div>
                      <div class="d-flex flex-column align-items-center text-center w-100 me-4 ">
                        <span class="coupon-step_icon svg-fill-secondary">
                            {% include 'svg/cp-print.svg' %}
                        </span>
                        <br>
                        <p class="h6">
                            {% trans "Print a pdf template" %}
                        </p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="col-9 col-md-7 col-lg-4">
            <div class="px-4 py-5 shadow text-secondary h-100 bg-light">
                <div class="svg-fill-secondary w-25 m-auto">
                    {% include 'svg/cp-via_post.svg' %}
                </div>
                <div class="my-2 fw-bold text-center">
                    <h3 class="h5">{% trans "Coupon by mail" %}</h3>
                    <hr class="my-2 border border-light "/>
                    <br>
                </div>
                <form class="coupon_form d-flex flex-column w-100" action="{% url 'booking:add_product' %}" method="POST">
                    {% csrf_token %}
                    {% if voucher_form %}
                        {{voucher_form.product}}
                    {% else %}
                        [register coupon-online in product family]
                    {% endif %}
                    <button class="my-2 btn btn-primary rounded-0" type="submit">{% trans "Add to cart" %}</button> 
                </form>


                <div class="stepper d-flex flex-column mt-5 ml-2">
                    
                    <div class="d-flex mb-1">
                      <div class="d-flex flex-column pr-4 align-items-center">
                        <div class="step bg-primary text-light mt-1"></div>
                        <div class="line h-100"></div>
                      </div>
                      <div class="d-flex flex-column align-items-center text-center w-100 me-4 ">
                        <span class="coupon-step_icon svg-fill-secondary">
                            {% include 'svg/cp-order_online.svg' %}
                        </span>
                        <br>
                        <p class="h6">
                            {% trans "Order online" %}
                        </p>
                      </div>
                      
                    </div>
                    <div class="d-flex mb-1">
                      <div class="d-flex flex-column pr-4 align-items-center">
                        <div class="step bg-primary text-light mt-1"></div>
                        <div class="line h-100"></div>
                      </div>
                      <div class="d-flex flex-column align-items-center text-center w-100 me-4 ">
                        <span class="coupon-step_icon svg-fill-secondary">
                            {% include 'svg/cp-code.svg' %}
                        </span>
                        <br>
                        <p class="h6">
                            {% trans "Immediately get your code" %}
                        </p>
                      </div>
                    </div>
                    <div class="d-flex mb-1">
                      <div class="d-flex flex-column pr-4 align-items-center">
                        <div class="step bg-primary text-light mt-1"></div>
                        <div class="line h-100 d-none"></div>
                      </div>
                      <div class="d-flex flex-column align-items-center text-center w-100 me-4 ">
                        <span class="coupon-step_icon svg-fill-secondary">
                            {% include 'svg/cp-mailbox.svg' %}
                        </span>
                        <br>
                        <p class="h6">
                            {% trans "Receive at home" %}
                        </p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>


        <div class="col-9 col-md-7 col-lg-4">
            <div class="px-4 py-5 shadow text-secondary h-100 bg-light">
                <div class="svg-fill-secondary w-25 m-auto">
                    {% include 'svg/cp-via_fetch.svg' %}
                </div>
            <div class="my-2 fw-bold text-center">
                <h3 class="h5">{% trans "Pick it up" %}</h3>
                <hr class="my-2 border border-light "/>
                <br>
            </div>
            <form class="coupon_form d-flex flex-column w-100" method="POST">
                <input class="text-center form-control rounded-0" disabled type="text" value="{% trans "Make an appointment" %} ">
                <a href="/#contact" class="my-2 btn btn-primary rounded-0">{% trans "Contact" %}</a> 
            </form>
            
            <div class="stepper d-flex flex-column mt-5 ml-2">
                
                <div class="d-flex mb-1">
                  <div class="d-flex flex-column pr-4 align-items-center">
                    <div class="step bg-primary text-light mt-1"></div>
                    <div class="line h-100"></div>
                  </div>
                  <div class="d-flex flex-column align-items-center text-center w-100 me-4 ">
                    <span class="coupon-step_icon svg-fill-secondary">
                        {% include 'svg/cp-phone.svg' %}
                    </span>
                    <br>
                    <p class="h6">
                        {% trans "Contact us" %}
                    </p>
                  </div>
                  
                </div>
                <div class="d-flex mb-1">
                  <div class="d-flex flex-column pr-4 align-items-center">
                    <div class="step bg-primary text-light mt-1"></div>
                    <div class="line h-100"></div>
                  </div>
                  <div class="d-flex flex-column align-items-center text-center w-100 me-4 ">
                    <span class="coupon-step_icon svg-fill-secondary">
                        {% include 'svg/cp-visit.svg' %}
                    </span>
                    <br>
                    <p class="h6">
                        {% trans "Come to the Escape Room" %}
                    </p>
                  </div>
                </div>
                <div class="d-flex mb-1">
                  <div class="d-flex flex-column pr-4 align-items-center">
                    <div class="step bg-primary text-light mt-1"></div>
                    <div class="line h-100 d-none"></div>
                  </div>
                  <div class="d-flex flex-column align-items-center text-center w-100 me-4 ">
                    <span class="coupon-step_icon svg-fill-secondary">
                        {% include 'svg/cp-handed.svg' %}
                    </span>
                    <br>
                    <p class="h6">
                        {% trans "Receive your coupon" %}
                    </p>
                  </div>
                </div>
            </div>

        </div>
            
    </div>
</div>
