{% load menus_tags %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}

{% get_documents "coupon-templates" as docs %}

{% if docs %}

<div class="container">
    <span id="coupon-templates c-id-offset"></span>
    <div class="row mb-5">
        {% if page.coupons_pdf_title %}
        <h2 class="breakout-font text-center">{{ page.coupons_pdf_title }}</h2>
        {% endif %}
    </div>
    <div class="coupon-pdf-links row g-4 justify-content-center">
        {% if self.coupons_image %}
        <div class="col-lg-6">
            {% image self.coupons_image width-600 as coupons_img%}    
            <img class="img-cover"src="{{ coupons_img.url }}" alt="">
        </div>
        <div class="col-lg-6">
        {% else %}
        <div class="col-lg-7">
        {% endif %}
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="richtext">
                        {{ page.coupons_pdf_body|richtext }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="row g-2 justify-content-center">
                        {% for doc in docs.documents.all %}
                        <div class="col-7 col-sm-5 col-lg-6">
                            <a class="coupon-pdf-link btn btn-outline-secondary d-flex flex-row align-items-center justify-content-between d-block" href="{{doc.document.url}}" target="_blank">
                                <p class="m-0">{{ doc.name }}</p>
                                <div class="coupon-pdf-link ms-1" style="min-height: 32px; max-height: 32px; min-width: 32px; max-width: 32px;">
                                    {{ doc.icon|safe }}
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<p>Register coupon-templates in snippets and they will appear here</p>

{% endif %}
