<form target="_new" method="post" action="/paypal/">
  <input type="hidden" name="receiver_email" value="info@breakout-escaperoom.de"/>
  <input type="hidden" name="residence_country" value="DE"/>
  <input type="hidden" name="payment_status" value="Completed"/>
  <input type="hidden" name="item_number" value="243"/>
  <input type="hidden" name="mc_gross" value="64.00"/>
  <input type="hidden" name="mc_currency" value="EUR"/>
  <input type="hidden" name="first_name" value="Antonio"/>
  <input type="hidden" name="last_name" value="Adrian"/>
  <input type="hidden" name="contact_phone" value="000">
  <input type="hidden" name="payer_email" value="aadrm@hotmail.com"/>
  <input type="hidden" name="address_street" value="Paradiesgaesschen"/>
  <input type="hidden" name="address_zip" value="86152"/>
  <input type="hidden" name="address_city" value="Augsburg"/>

  <!-- code for other variables to be tested ... -->

  <input type="submit"/>
</form>_