{% extends 'base_secondary.html' %}
{% load static %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}


{% block page_title %}
{{page.title}}
{% endblock page_title %}

{% block content %}
{{ block.super }}
<main class="coupons-main">

    <section class="py-5">

        <div class="container"> 
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}
        </div>

        {% include 'booking/section_coupons.html' %}
    </section>

    <section id="pdf-templates" class="py-5">
            {% for block in page.content_after %}
                {% include_block block %}
            {% endfor %}
            {% include 'booking/section_pdfcoupons.html' %}
    </section>

</main>

{% endblock content %}
