{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<header class="header--small">
    <h2 class="">{% trans "Book Online" %}</h2>
{% include 'booking/section_cart-overlay.html' %}
</header>

<section class="c-section-light">
    <h1>Calendars</h1>
    <div class="calendars">
    {% comment %} {% include ajax_calendar.html %} {% endcomment %}
    </div>
</section>

{% endblock content %}
{% block js %}
    <script src =" {% static 'js/calendar.js' %}"  type="text/javascript"></script>
    <script src =" {% static 'js/reload.js' %}"  type="text/javascript"></script>

{% endblock js %}