{% extends 'base_secondary.html' %}
{% load static %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}


{% block page_title %}
{{page.title}}
{% endblock page_title %}

{% block content %}
{{ block.super }}
<main class="coupons-main">
    <section class="c-section-light">
        <div class="c-section-inner-sm c-wrapper--md">
            <div class="coupons-intro"> 
                <div class="coupons-pictures">
                    <img loading="lazy" src="{% static 'img/coupons/coupon-back.jpg' %}" alt="{% trans "Image of the back side of our coupons" %}" class="coupons-pictures_pic1">
                    <img loading="lazy" src="{% static 'img/coupons/coupon-front.jpg' %}" alt="{% trans "Image of the front side of our coupons" %}" class="coupons-pictures_pic2">
                </div>
                <div class="coupons-info">
                    <h2 class="">
                    {% trans "Looking for an original gift idea?" %} 
                    </h2>
                    <br> 
                    <p class="c-text-sm"> 
                    {% trans "Then gift that special person a voucher for" %}
                    <b>
                    {% trans "Breakout Escape Room Augsburg" %}!
                    </b>
                    </br>
                    <br>
                    <b>{% trans "It's quick and easy:" %}</b>
                    {% blocktranslate trimmed%}
                    You can have your <b>Christmass</b> or <b>birthday</b> present ready in less than a Minute.
                    {% endblocktranslate %}
                    {% blocktranslate trimmed%}
                    Coupons remain valid three years for all rooms and redeemable <b>online</b>.
                    {% endblocktranslate %}
                    </p>
                </div> 
            </div>
            {% for block in page.content %}
                {% include_block block %}
            {% endfor %}
        </div>
        
        {% include 'booking/section_coupons.html' %}
    </section>
    <section id="pdf-templates" class="c-section-light">
        <div class="c-wrapper--md">
            {% for block in page.content_after %}
                {% include_block block %}
            {% endfor %}
            {% include 'booking/section_pdfcoupons.html' %}
        </div>
    </section>
</main>

{% endblock content %}