{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block content %}
<header class="header--small">
    <div class="header__mask"></div>
    <h2 class="">{% trans "Thank you!" %}</h2>
</header>
<main>
    <section class="container my-3 w-75">
        {% if cart.status == 2 %}
        <p>
            {% trans "We are awaiting Paypal's payment confirmation."%}
            {% trans "As soon as we receive it we will send via email the information on this page." %} 
            {% trans "Remember to check your spam folder in case you can't find it." %}
        </p>
        {% else %}
        <p>
            {% trans "We have sent an email with the information on this page." %}
            ({% trans "Remember to check your spam folder in case you can't find it." %}
        </p>
        {% endif %}
        {% include 'booking/section-completed_order.html' %}
    </section>
</main>

{% endblock content %}