/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: background .4s, color .4s;
    -o-transition: background .4s, color .4s;
    transition: background .4s, color .4s;
    &:hover {
        cursor: pointer;
    }
}

p {
    line-height: 1.5em;
    font-size: $font--md;

}

ul {
    list-style: none;
}

h1 {
    margin: .67em 0;
    margin: auto;
}

img {
    margin: auto;
}


body, html {
    font-weight: 400;
}

.brand-hyperlink {
    text-decoration: underline;
    color: $brand-secondary;
    font-weight: bold;
}

input,
select {
    background: $brand-light;
}