h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: normal;
}

.breakout-font {
    font-family: $fonts-space;
}

// h3 {font-size: $font--md;}
// h4 {font-size: $font--sm;}
// h5 {font-size: $font--sm;}

// body {
//     font-family: $fonts;
// }


// .font--sm {
//     font-size: $font--sm;
// }

// .font--md {
//     font-size: $font--md;
// }

// .font--lg {
//     font-size: $font--lg;
// }


// .tac {
//     text-align: center;
// }