@font-face {
    font-family: 'breakout';
    font-style: normal;
    font-weight: 400;
    src: 
        url('../fonts/capture_it/capture_it.woff2') format('woff2'),
        url('../fonts/capture_it/capture_it.woff') format('woff'),
        url('../fonts/capture_it/capture_it.ttf') format('truetype'),
        ;
    font-display: swap;
}