$brand-primary:             #abca44;
$brand-secondary:           #465054;
// $brand-primary:             #abc943;
// $brand-secondary:           #130304;
$brand-light:               #fafafa;
$brand-dark:                #111111;
$brand-font-light:          #fafafa;   
$brand-font-dark:           #090909;

$green-alert:               #0fac0f;
$green-light:               #0fac0f60;
$red-alert:               #be1e1e;
$red-light:               #be1e1e60;

$brand-primary-0: rgba($brand-primary, .05);
$brand-primary-1: rgba($brand-primary, .11);
$brand-primary-2: rgba($brand-primary, .17);
$brand-primary-3: rgba($brand-primary, .23);
$brand-primary-4: rgba($brand-primary, .29);
$brand-primary-5: rgba($brand-primary, .35);
$brand-primary-6: rgba($brand-primary, .41);
$brand-primary-7: rgba($brand-primary, .47);
$brand-primary-8: rgba($brand-primary, .52);
$brand-primary-9: rgba($brand-primary, .58);
$brand-primary-a: rgba($brand-primary, .64);
$brand-primary-b: rgba($brand-primary, .70);
$brand-primary-c: rgba($brand-primary, .76);
$brand-primary-d: rgba($brand-primary, .82);
$brand-primary-e: rgba($brand-primary, .88);
$brand-primary-f: rgba($brand-primary, .94);

$brand-secondary-0: rgba($brand-secondary, .05);
$brand-secondary-1: rgba($brand-secondary, .11);
$brand-secondary-2: rgba($brand-secondary, .17);
$brand-secondary-3: rgba($brand-secondary, .23);
$brand-secondary-4: rgba($brand-secondary, .29);
$brand-secondary-5: rgba($brand-secondary, .35);
$brand-secondary-6: rgba($brand-secondary, .41);
$brand-secondary-7: rgba($brand-secondary, .47);
$brand-secondary-8: rgba($brand-secondary, .52);
$brand-secondary-9: rgba($brand-secondary, .58);
$brand-secondary-a: rgba($brand-secondary, .64);
$brand-secondary-b: rgba($brand-secondary, .70);
$brand-secondary-c: rgba($brand-secondary, .76);
$brand-secondary-d: rgba($brand-secondary, .82);
$brand-secondary-e: rgba($brand-secondary, .88);
$brand-secondary-f: rgba($brand-secondary, .94);


$brand-light-0: rgba($brand-light, .05);
$brand-light-1: rgba($brand-light, .11);
$brand-light-2: rgba($brand-light, .17);
$brand-light-3: rgba($brand-light, .23);
$brand-light-4: rgba($brand-light, .29);
$brand-light-5: rgba($brand-light, .35);
$brand-light-6: rgba($brand-light, .41);
$brand-light-7: rgba($brand-light, .47);
$brand-light-8: rgba($brand-light, .52);
$brand-light-9: rgba($brand-light, .58);
$brand-light-a: rgba($brand-light, .64);
$brand-light-b: rgba($brand-light, .70);
$brand-light-c: rgba($brand-light, .76);
$brand-light-d: rgba($brand-light, .82);
$brand-light-e: rgba($brand-light, .88);
$brand-light-f: rgba($brand-light, .94);

$brand-dark-0: rgba($brand-dark, .05);
$brand-dark-1: rgba($brand-dark, .11);
$brand-dark-2: rgba($brand-dark, .17);
$brand-dark-3: rgba($brand-dark, .23);
$brand-dark-4: rgba($brand-dark, .29);
$brand-dark-5: rgba($brand-dark, .35);
$brand-dark-6: rgba($brand-dark, .41);
$brand-dark-7: rgba($brand-dark, .47);
$brand-dark-8: rgba($brand-dark, .52);
$brand-dark-9: rgba($brand-dark, .58);
$brand-dark-a: rgba($brand-dark, .64);
$brand-dark-b: rgba($brand-dark, .70);
$brand-dark-c: rgba($brand-dark, .76);
$brand-dark-d: rgba($brand-dark, .82);
$brand-dark-e: rgba($brand-dark, .88);
$brand-dark-f: rgba($brand-dark, .94);


$width--ll: 1920px;
$width--xl: 1600px;
$width--lg: 1200px;
$width--md: 1024px;
$width--sm: 768px;
$width--xs: 480px;
$width--ss: 400px;

$break--ll: 1920px;
$break--xl: 1600px;
$break--lg: 1200px;
$break--md: 1024px;
$break--sm: 768px;
$break--xs: 480px;
$break--ss: 400px;

$t--quicker: .1s;
$t--quick: .3s;
$t--normal: .5s;
$t--slow: 1s;
$t--slower: 2s;
$t--slowest: 4s;

$font--ll: responsive 36px 72px;
$font--xl: responsive 24px 48px;
$font--lg: responsive 20px 28px;
$font--md: responsive 14px 24px;
$font--sm: responsive 12px 28px;
$font--xs: responsive 10px 14px;
$font--ss: responsive 8px 10px;

$font--md--fix: 28px;

$fonts: 'Raleway', sans-serif; // GF Quicksand 

$fonts-space: 'Breakout', sans-serif; // GF Quicksand 
$fonts-wanted: "Im Fell English", sans-serif; // GF Quicksand 
// $fonts-wanted: 'breakout', serif; // GF Quicksand 
// $fonts-headers: 'umbragerregular', serif; // GF Quicksand 

