$brand-primary:             #abca44;
$brand-primary:             #a8cc32;
// $brand-primary:             #9ac50d;
// $brand-primary:             #97cc04;
$brand-secondary:           #464839;
$brand-secondary:           #394253;
$brand-grey:                #75777A;

$brand-emphasis:            #006d8f;
$brand-light:               #fffffa;
$brand-dark:                #111111;
$brand-font-light:          #fafafa;   
$brand-font-dark:           #090909;

$green-alert:               #0fac0f;
$green-light:               #0fac0f60;
$red-alert:                 #be1e1e;
$red-light:                 #be1e1e60;

$brand-primary-0: rgba($brand-primary, .05);
$brand-primary-1: rgba($brand-primary, .11);
$brand-primary-2: rgba($brand-primary, .17);
$brand-primary-3: rgba($brand-primary, .23);
$brand-primary-4: rgba($brand-primary, .29);
$brand-primary-5: rgba($brand-primary, .35);
$brand-primary-6: rgba($brand-primary, .41);
$brand-primary-7: rgba($brand-primary, .47);
$brand-primary-8: rgba($brand-primary, .52);
$brand-primary-9: rgba($brand-primary, .58);
$brand-primary-a: rgba($brand-primary, .64);
$brand-primary-b: rgba($brand-primary, .70);
$brand-primary-c: rgba($brand-primary, .76);
$brand-primary-d: rgba($brand-primary, .82);
$brand-primary-e: rgba($brand-primary, .88);
$brand-primary-f: rgba($brand-primary, .94);

$brand-secondary-0: rgba($brand-secondary, .05);
$brand-secondary-1: rgba($brand-secondary, .11);
$brand-secondary-2: rgba($brand-secondary, .17);
$brand-secondary-3: rgba($brand-secondary, .23);
$brand-secondary-4: rgba($brand-secondary, .29);
$brand-secondary-5: rgba($brand-secondary, .35);
$brand-secondary-6: rgba($brand-secondary, .41);
$brand-secondary-7: rgba($brand-secondary, .47);
$brand-secondary-8: rgba($brand-secondary, .52);
$brand-secondary-9: rgba($brand-secondary, .58);
$brand-secondary-a: rgba($brand-secondary, .64);
$brand-secondary-b: rgba($brand-secondary, .70);
$brand-secondary-c: rgba($brand-secondary, .76);
$brand-secondary-d: rgba($brand-secondary, .82);
$brand-secondary-e: rgba($brand-secondary, .88);
$brand-secondary-f: rgba($brand-secondary, .94);

$brand-emphasis-0: rgba($brand-emphasis, .05);
$brand-emphasis-1: rgba($brand-emphasis, .11);
$brand-emphasis-2: rgba($brand-emphasis, .17);
$brand-emphasis-3: rgba($brand-emphasis, .23);
$brand-emphasis-4: rgba($brand-emphasis, .29);
$brand-emphasis-5: rgba($brand-emphasis, .35);
$brand-emphasis-6: rgba($brand-emphasis, .41);
$brand-emphasis-7: rgba($brand-emphasis, .47);
$brand-emphasis-8: rgba($brand-emphasis, .52);
$brand-emphasis-9: rgba($brand-emphasis, .58);
$brand-emphasis-a: rgba($brand-emphasis, .64);
$brand-emphasis-b: rgba($brand-emphasis, .70);
$brand-emphasis-c: rgba($brand-emphasis, .76);
$brand-emphasis-d: rgba($brand-emphasis, .82);
$brand-emphasis-e: rgba($brand-emphasis, .88);
$brand-emphasis-f: rgba($brand-emphasis, .94);

$brand-light-0: rgba($brand-light, .05);
$brand-light-1: rgba($brand-light, .11);
$brand-light-2: rgba($brand-light, .17);
$brand-light-3: rgba($brand-light, .23);
$brand-light-4: rgba($brand-light, .29);
$brand-light-5: rgba($brand-light, .35);
$brand-light-6: rgba($brand-light, .41);
$brand-light-7: rgba($brand-light, .47);
$brand-light-8: rgba($brand-light, .52);
$brand-light-9: rgba($brand-light, .58);
$brand-light-a: rgba($brand-light, .64);
$brand-light-b: rgba($brand-light, .70);
$brand-light-c: rgba($brand-light, .76);
$brand-light-d: rgba($brand-light, .82);
$brand-light-e: rgba($brand-light, .88);
$brand-light-f: rgba($brand-light, .94);

$brand-dark-0: rgba($brand-dark, .05);
$brand-dark-1: rgba($brand-dark, .11);
$brand-dark-2: rgba($brand-dark, .17);
$brand-dark-3: rgba($brand-dark, .23);
$brand-dark-4: rgba($brand-dark, .29);
$brand-dark-5: rgba($brand-dark, .35);
$brand-dark-6: rgba($brand-dark, .41);
$brand-dark-7: rgba($brand-dark, .47);
$brand-dark-8: rgba($brand-dark, .52);
$brand-dark-9: rgba($brand-dark, .58);
$brand-dark-a: rgba($brand-dark, .64);
$brand-dark-b: rgba($brand-dark, .70);
$brand-dark-c: rgba($brand-dark, .76);
$brand-dark-d: rgba($brand-dark, .82);
$brand-dark-e: rgba($brand-dark, .88);
$brand-dark-f: rgba($brand-dark, .94);


$width--ll: 1320px;
$width--xl: 1140px;
$width--lg: 960px;
$width--md: 720px;
$width--sm: 540px;
$width--xs: 440px;
$width--ss: 360px;

$break--ll: 1400px;
$break--xl: 1200px;
$break--lg: 992px;
$break--md: 768px;
$break--sm: 576px;
$break--xs: 480px;
$break--ss: 400px;

$t--quicker: .1s;
$t--quick: .3s;
$t--normal: .5s;
$t--slow: 1s;
$t--slower: 2s;
$t--slowest: 4s;

$font--ll: responsive 32px 64px;
$font--xl: responsive 24px 44px;
$font--lg: responsive 22px 26px;
$font--md: responsive 16px 22px;
$font--sm: responsive 14px 18px;
$font--xs: responsive 12px 15px;
$font--ss: responsive 9px 12px;

$font--ll--sharp: responsive 30px 72px;
$font--xl--sharp: responsive 24px 48px;
$font--lg--sharp: responsive 20px 28px;
$font--md--sharp: responsive 12px 24px;
$font--sm--sharp: responsive 14px 20px;
$font--xs--sharp: responsive 11px 18px;
$font--ss--sharp: responsive 8px 14px;

$font--ll--soft: responsive 40px 72px;
$font--xl--soft: responsive 30px 48px;
$font--lg--soft: responsive 26px 28px;
$font--md--soft: responsive 18px 24px;
$font--sm--soft: responsive 16px 18px;
$font--xs--soft: responsive 13px 14px;
$font--ss--soft: responsive 10px 11px;

$font--md--fix: 24px;

$fonts: 'Open Sans' sans-serif; // GF Quicksand 

$fonts-space: 'Breakout', sans-serif; // GF Quicksand 
$fonts-wanted: "Im Fell English", sans-serif; // GF Quicksand 

