{% extends 'base_secondary.html' %}
{% load static %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block page_title %}{{ page.title }}{% endblock page_title %}
{% block content %}
{{ block.super }}
{% include 'booking/section_cart-overlay.html' %}

<main>
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}
    <section class="c-section-light">
        <div class="c-wrapper--lg">
            <div class="calendars">
                {% for room in rooms %}
                <div id="{{room.pk}}" class="calendar-frame js-calendar-window" data-room="{{ room.pk }}" data-url="{% url 'booking:ajax_calendar' %}"></div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% for block in page.content_after %}
        {% include_block block %}
    {% endfor %}
<main>
{% endblock content %}
{% block extra_js %}
{{ block.super }}
    <script src =" {% static 'js/calendar.js' %}"  ></script>
    <script src =" {% static 'js/reload.js' %}"  ></script>

{% endblock extra_js %}