{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
{% include 'home/section_main-header.html' %}
{% include 'booking/section_cart-overlay.html' %}
{% include 'home/corona_banner.html' %}
<main>
<section class="c-section-dark">

    <span id="rooms" class="c-id-offset"></span>
    <div class=" tac c-color-primary c-wrapper--md">
        {% if page.our_rooms_header %}
        <h2>{{ page.our_rooms_header }}</h2>
        <br>
        {% endif %}
        {% if page.our_rooms_text %}
        <div class="c-color-light">
        {{ page.our_rooms_text|safe}}
        </div>
        <br>
        {% endif %}
        {% include 'home/section_rooms.html' %}
    </div> 
</section>

<section class="c-section-dark">
    <span id="online" class="c-id-offset"></span>
    <div class=" c-wrapper--md">
        {% if page.online_header %}
        <h2 class="tac c-color-primary">{{ page.online_header }}</h2>
        <br>
        {% endif %}
        {% if page.online_text %}
        <div class="tac c-color-light">
        {{ page.online_text|safe}}
        </div>
        <br>
        {% endif %}
        {% include 'home/section_online.html' %}
    </div> 
</section>

<section class="c-section-primary">
    <span id="offers" class="c-id-offset"></span>
    <div class=" tac c-color-emphasis c-wrapper--md">
        {% if page.offers_header %}
        <h2>{{ page.offers_header }}</h2>
        <br>
        {% endif %}
        {% if page.offers_text %}
        <div class="c-color-secondary">
        {{ page.offers_text|safe}}
        </div>
        <br>
        {% endif %}
    </div> 
    <div class="c-wrapper--md">
    {% include 'home/section_offers.html' %}
    </div>
</section>

<section class="c-section-dark">
    <span id="video" class="c-id-offset"></span>
    <div class=" tac c-color-primary c-wrapper--md">
        {% if page.video_header %}
        <h2>{{ page.video_header }}</h2>
        <br>
        {% endif %}
        {% if page.video_text %}
        <div class="c-color-light">
        {{ page.video_text|safe}}
        </div>
        <br>
        {% endif %}
        {% include 'home/section_video.html' %}
    </div>
</section>

<section class="c-section-primary">
    <span id="prices" class="c-id-offset"></span>
    {% include 'home/section_prices.html' %}
</section>

<section class="c-section-light">
    <span id="contact" class="c-id-offset"></span>
    {% comment %} {% include 'home/section_contact.html' %} {% endcomment %}
    {% comment %} <br><br><br> {% endcomment %}
    <div class="c-wrapper--md">
    {% include 'home/section_location.html' %}
    </div>
</section>

{% if page.reviews %}
<section class="c-section-primary">
    <div class="c-wrapper--md">
    <h2 class="tac">{% trans "Reviews" %}</h2>
    {% for block in page.reviews %}
        {% include_block block%}
    {% endfor %}
    </div>
</section>
{% endif %}

<section class="c-section-dark">
    <span id="faq" class="c-id-offset"></span>
    <div class="c-wrapper--md">
        <h2 class="tac c-color-primary">{% trans "Frequently Asked Questions" %}</h2>
        <br>
        <div class="faq-wrapper">
            {% for block in page.faq %}
            {% include_block block %}
            {% endfor %} 
        </div>
    </div>
    {% comment %} {% include 'section_faq.html' %} {% endcomment %}
</section>
</main>

{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script defer src =" {% static 'js/accordion.js' %}"></script>
    <script defer src =" {% static 'js/deffer.js' %}" ></script>

{% endblock extra_js %}