{% extends 'base_secondary.html' %}
{% load static %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block page_title %}{{ page.title }}{% endblock page_title %}
{% block content %}
{{ block.super }}
<main>
    <div class="room-page-content c-wrapper--lg">
        <aside class="aside_gallery">
            <h2 class="font--md">{% trans "Promo Video" %}</h2>
            <div class="video-wrapper">
                <iframe title="Youtube Promo Video {{page.title}}" loading="lazy" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ page.video }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h2 class="font--md">{% trans "Image Gallery" %}</h2>
            {% include_block page.gallery %} 
        </aside>
        <div class="room-main">
            <div class="room-description">
            <h2 class="font--lg">{% trans "Overview" %}</h2>
            <p>
            {{ page.room.description }}
            </p>
            </div>
            {% comment %} <h2 class="font--lg">{% trans "Book your game." %}</h2> {% endcomment %}
            <div class="calendars">
                <div id="{{page.room.pk}}" class="calendar-frame js-calendar-window" data-room="{{ page.room.pk }}" data-url="{% url 'booking:ajax_calendar' %}"></div>
            </div>
        </div>
        <aside class="room-reviews">
        {% if page.reviews %}
            {% for block in page.reviews %}
                {% include_block block%}
            {% endfor %}
        {% endif %}
        </aside>
    </div>
</main>

{% endblock content %}

{% block extra_js %}
{{ block.super }}
    <script src =" {% static 'js/calendar.js' %}"  ></script>
    <script src =" {% static 'js/reload.js' %}"  ></script>
{% endblock extra_js %}