{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<header class="secondary-header">
    {% if header_img %}
    <div class="secondary-header__mask"></div>
    <div class="secondary-header__image" style="background-image: url(' {{header_img.url}}'); background-size: cover;">
    {% else %}
    <div class="secondary-header__solid">
    {% endif %}
        <h1>{{ page.title}}</h1>
    </div>
</header>
<main>
    <div class="room-page-content">
        <aside>
            <h2 class="font--md">{% trans "Promo Video" %}</h2>
            <div class="video-wrapper">
                <iframe title="Youtube Promo Video {{page.title}}" loading="lazy" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ page.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h2 class="font--md">{% trans "Image Gallery" %}</h2>
            {% include_block page.gallery %} 
        </aside>
        <div class="room-main">
            <div class="room-description">
            <h2 class="font--lg">{% trans "Overview" %}</h2>
            {{ page.room.description }}
            </div>
            <h2 class="font--lg">{% trans "Choose when you want to play" %}</h2>
            <div class="calendars">
                <div id="{{page.room.pk}}" class="calendar-frame js-calendar-window" data-room="{{ page.room.pk }}" data-url="{% url 'booking:ajax_calendar' %}"></div>
            </div>
        </div>
        <aside>

        </aside>
    </div>
</main>

{% endblock content %}

{% block extra_js %}
{{ block.super }}
    <script src =" {% static 'js/calendar.js' %}"  ></script>
    <script src =" {% static 'js/reload.js' %}"  ></script>
{% endblock extra_js %}