{% extends 'base_secondary.html' %}
{% load static %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block page_title %}{{ page.title }}{% endblock page_title %}
{% block content %}
{{ block.super }}
<main>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="room-mai col-12 col-lg-6 order-lg-2">
                <div class="room-description">
                <h2 class="fs-3">{% trans "Overview" %}</h2>
                {{ page.room.description }}
                </div>
                {% comment %} <h2 class="font--lg">{% trans "Book your game." %}</h2> {% endcomment %}
                <div class="calendars">
                    <div id="{{page.room.pk}}" class="calendar-frame js-calendar-window" data-room="{{ page.room.pk }}" data-url="{% url 'booking:ajax_calendar' %}"></div>
                </div>
            </div>
            <aside class="col-12 col-lg-3 order-lg-1">
                <h2 class="fs-3">{% trans "Promo Video" %}</h2>
                <div class="video-wrapper mb-3">
                    <iframe title="Youtube Promo Video {{page.title}}" loading="lazy" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ page.video }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <h2 class="fs-3">{% trans "Image Gallery" %}</h2>
                {% include_block page.gallery %} 
            </aside>
            <aside class="col-12 col-lg-3 order-lg-3">
            {% if page.reviews %}
                {% for block in page.reviews %}
                    {% include_block block%}
                {% endfor %}
            {% endif %}
            </aside>
        </div>
    </div>
</main>

{% endblock content %}

{% block extra_js %}
{{ block.super }}
    <script src =" {% static 'js/calendar.js' %}"  ></script>
    <script src =" {% static 'js/reload.js' %}"  ></script>
{% endblock extra_js %}