{% load i18n %}
<div class="section-faq">

    <div class="c-color-primary">
        <h2 class="c-tac">{% trans "Breakout Escape Room F.A.Q." %}</h2>
    </div>

    <div class="faq-wrapper">
    {% for faq in faqs.paragraph.all  %}
        <label class="faq-toggle">
            <input type="checkbox" class="faq-checkbox">
            <p class="faq-question">{{faq.title}}</p>
            <div class="faq-answer">
            <p>
                {% for part in faq.subparagraph.all %}
                {{part.text}}
                {% endfor %}
            </p>
            </div>
        </label>
    
    {% endfor %}
    </div>
</div>