{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}

<div class="whocanplay">
    <div>
        <h2 class="tac">{% trans "Group offers and special discounts" %}</h2>
    </div>
        {% for group in page.group_offers %}
            {% include_block group %}
        {% endfor %} 
    {% comment %} <div class="who-examples-wrapper">
        <div class="who-example">
            <div class="who-icon">
            {% include 'svg/team_building.svg' %}
            </div>
            <h3>{% trans "Company Events" %}</h3>
            <p>{% trans "The best teambuilding activity" %}</p>
            
        </div>
        <div class="who-example">
            <div class="who-icon">
            {% include 'svg/party.svg' %}
            </div>
            <h3>{% trans "Celebrate your birthday!" %}</h3>
            <p>{% trans "Start your party with an unforgettable experience in a live escape game. " %}</p>
        </div>
        <div class="who-example">
            <div class="who-icon">
            {% include 'svg/family.svg' %}
            </div>
            <h3>{% trans "For friends and families" %}</h3>
            <p>{% trans "Live escape games strengthen your bonds as a group" %}</p>
        </div>
    </div> {% endcomment %}
</div>