{% load i18n %}
<div class="c-wrapper--lg">
    <p>
    <div>
        <h2 class="tac c-color-primary">{% trans "Breakout Escape Room Teaser" %}</h2>
        <h3 class="tac c-color-primary">{% trans "Two rooms, your choice" %}</h3>
    </div>
    <div class="video-wrapper">
        <iframe title="Youtube Promo Video" loading="lazy" width="560" height="315" src="https://www.youtube-nocookie.com/embed/rsPZnVUPkz0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>