{% load i18n %}
<div class="section-prices">
    <div class="c-color-primary">
        <h2>{% trans "Prices for a Escape Room Session" %}</h2>
    </div>
    <div class="prices-wrapper">

        <div class="price">
            <h4>1 {% trans "Player" %}</h4>
            <p>€49</p>
        </div>

        <div class="price">
            <h4>2 {% trans "Players" %}</h4>
            <p>€64 Total</p>
            <p>€32 {% trans "per person" %}</p>
        </div>

        <div class="price">
            <h4>3 {% trans "Players" %}</h4>
            <p>€84 Total</p>
            <p>€28 {% trans "per person" %}</p>
        </div>

        <div class="price">
            <h4>4 {% trans "Players" %}</h4>
            <p>€96 Total</p>
            <p>€24 {% trans "per person" %}</p>
        </div>
        
        <div class="price">
            <h4>5 {% trans "Players" %}</h4>
            <p>€110 Total</p>
            <p>€22 {% trans "per person" %}</p>
        </div>
        
        <div class="price">
            <h4>6 {% trans "Players" %}</h4>
            <p>€120 Total</p>
            <p>€20 {% trans "per person" %}</p>
        </div>

    </div>

</div>