{% load i18n %}
<div class="c-inner-width--md">
    <div class="tac c-color-primary">
        <h2 >{% trans "Contact" %}</h2>
        <h3>{% trans "Where and how to find our Escape Rooms?" %}</h3>
    </div>
    
<!-- <div class="contact-wrapper"> -->
<div id="contact" class="l-id-offset"></div>

<div class="info-content">
    <div class="contact-methods">
        <a target="_blank" rel="noopener" href="https://wa.me/4915777853955" class="contact-link">
        <div class="contact-method">
            {% include 'svg/icon-whatsapp.svg' %}
        </div>
        </a>
    
        <a target="_blank" href="tel:+4915777853955" class="contact-link">
        <div class="contact-method">
            {% include 'svg/icon-phone.svg' %}
        </div>
        </a>
    
        <a target="_blank" href="mailto:info@breakout-escaperoom.de?Subject=Anfrage" class="contact-link">
        <div class="contact-method">
            {% include 'svg/icon-email.svg' %}
        </div>
        </a>
    
    </div>
    
<!-- </div> -->


