{% load i18n %}
{% load wagtailroutablepage_tags %}
<header class="main-header">
    <div class="header-overlay overlay-bottom"></div>
    <div class="main-header-title-container">
        <div class="main-header-title">
            <h1 class="c-stamp"> 
                <span class="breakout-font main-header-breakout">Breakout  <br> Escape Room </span>
                {% comment %} <span class="main-header-escaperoom"> <br> <strong>Escape Room<strong></span> {% endcomment %}
                <span class="breakout-font main-header-augsburg"> <br> Augsburg</span>
            </h1>
            <br class="padding-break">
        </div>
    </div>
    
    <div class="banner">
        <div class="banner-inner">
            <p>{% trans "Complete your order in just a minute" %}</p>
            <a href="{% routablepageurl coupons_page "coupons_page_route"%}" class="c-nav-anchor c-anchor-secondary">{% trans "Coupons" %}</a>
            <a href="{% routablepageurl booknow_page "booknow_page_route"%}" class="c-nav-anchor c-anchor-secondary">{% trans "Book" %}</a>
        </div>
    </div>

</header>