{% load i18n %}
<div class="section-prices">
    <div class="tac">
        <h2 class="c-color-emphasis">{% trans "Prices" %}</h2>
    </div>
    <div class="prices-wrapper c-wrapper--md c-color-secondary">

        <div class="price">
            <span>1 {% trans "Player" %}</span>
            <p>€49</p>
        </div>

        <div class="price">
            <span>2 {% trans "Players" %}</span>
            <p>€64 Total</p>
            <p>€32 {% trans "per person" %}</p>
        </div>

        <div class="price">
            <span>3 {% trans "Players" %}</span>
            <p>€84 Total</p>
            <p>€28 {% trans "per person" %}</p>
        </div>

        <div class="price">
            <span>4 {% trans "Players" %}</span>
            <p>€96 Total</p>
            <p>€24 {% trans "per person" %}</p>
        </div>
        
        <div class="price">
            <span>5 {% trans "Players" %}</span>
            <p>€110 Total</p>
            <p>€22 {% trans "per person" %}</p>
        </div>
        
        <div class="price">
            <span>6 {% trans "Players" %}</span>
            <p>€120 Total</p>
            <p>€20 {% trans "per person" %}</p>
        </div>

    </div>

</div>