{% load i18n %}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 g-3">
            {% for room in rooms %}
            <div class=" d-flex align-items-stretch">
                <div class="card w-100 bg-secondary bg-opacity-25 rounded-0">
                    <div class="hover-effect-to-primary">
                        <img height="200" class="card-img-top object-fit-cover" loading="lazy" src="{% if room.photo %}{{room.photo.url}}{% endif %}" alt="Escape Room {{room.name}}">
                        <ul class="text-light fs-5">
                            <li>
                                <span>
                                    <i class="bi-alarm text-primary"></i>
                                    60 {% trans "Minutes" %}
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bi-people-fill text-primary"></i>
                                    1-6 {% trans "Players" %}
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="bi-forward-fill text-primary"></i>
                                    70%
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h2 class="breakout-font">{{room.name}}</h2>
                        <p class="font--md text-light">{{room.description|truncatechars:80}}</p>
                        <a class="mt-auto btn btn-outline-primary rounded-0" title="{% trans "Book Now" %} {{room.name}}" href="{% if room.get_page %}{{room.get_page.url}}{% else %}#{% endif %}">
                            {% trans "Book now" %}
                        </a>
                    </div>
                </div>

            </div>
            {% endfor %}
    </div>
</div>