{% load i18n %}
{% load static %}
<div class="section-online c-inner-width--md">
    <div class="online-wrapper">
        <div class="online-image-wrapper">
            <a rel="noopener" href="https://breakout-escaperoom-de.cluequest.co.uk">
                <img title="Online Games" loading="lazy" src="{% static 'img/cluequest/pce-collection.jpg' %}" alt="Printable Games Collection">
            </a>
        </div>
        <div class="online-text-wrapper">
            <div class="  -left">
                <h3>{% trans "Online Game Series: Print+Cut+Escape" %}</h3>
            </div>
            <br>
            <p>{% trans "Unique puzzles with a great balance of difficutlty. The story gets told through the puzzles and entertaining videos." %}</p>
            <div class="c-list-block">
                <ul>
                    <li>{% trans "1.5-2 hours game play" %}</li> 
                    <li>{% trans "Play at home or via zoom" %}</li> 
                    <li>{% trans "Online game interface" %}</li> 
                    <li>{% trans "Fun for friends and families" %}</li> 
                </ul>
            </div>
            <p>{% trans "*Series in English only." %}</p>
            <div class="online-button-wrapper">
                <a rel="noopener" href="https://breakout-escaperoom-de.cluequest.co.uk" class="c-anchor-primary c-anchor c-text-md online-button" target="_blank">{% trans "See offer" %}</a>
            </div>
        </div>
    </div>
</div>