{% load i18n %}
{% load wagtailroutablepage_tags %}
<div class="section-prices">
    <div class="container">

                <table class="table">
                        </tr> 
                    </thead>
                    <tbody>
                        <tr>
                            <th>2 {% trans "Players" %}</th>
                            <td>€64 Total</td>
                            <td>€32 {% trans "per person" %}</td>
                        </tr>
                        <tr>
                            <th>3 {% trans "Players" %}</th>
                            <td>€84 Total</td>
                            <td>€28 {% trans "per person" %}</td>
                        </tr>
                        <tr>
                            <th>4 {% trans "Players" %}</th>
                            <td>€96 Total</td>
                            <td>€24 {% trans "per person" %}</td>
                        </tr>
                        <tr>
                            <th>5 {% trans "Players" %}</th>
                            <td>€110 Total</td>
                            <td>€22 {% trans "per person" %}</td>
                        </tr>
                        <tr>
                            <th>6 {% trans "Players" %}</th>
                            <td>€120 Total</td>
                            <td>€20 {% trans "per person" %}</td>
                        </tr>
                    </tbody>

                </table>



    </div>
    <br>
    <a class="btn btn-secondary btn-lg" href="{% routablepageurl booknow_page "booknow_page_route" %}">{% trans "Book Now" %}</a>

</div>