{% load wagtailcore_tags wagtailimages_tags %}
<div class="card h-100 overflow-hidden text-bg-light">
  {% block card_img %}{% endblock card_img %}
  <div class="card-body d-flex flex-column">
    <h4 class="text-center">
      {% block title %}{% endblock title %}
    </h4>
    <h5 class="text-center">
      {% block subtitle %}{% endblock subtitle %}
    </h5>
    <p class="text-center">
      {% block text %}{% endblock text %}
    </p>
    <div class="mt-auto">
      {% block cta %}{% endblock cta %}
    </div>
  </div>
  {% if self.footer %}
  <div class="card-footer">
    {{ self.footer }}
  </div>
  {% endif %}
</div>